@charset "utf-8";
/*font embed*/
@font-face {
  font-family: HelveticaNeueVnu-Bold-1;
  src: url(../font/HelveticaNeueVnu-Bold-1.ttf);
}
@font-face {
  font-family: HelveticaNeueVnu-Light-1;
  src: url(../font/HelveticaNeueVnu-Light-1.ttf);
}
@font-face {
  font-family: HelveticaNeueVnu-Roman-1;
  src: url(../font/HelveticaNeueVnu-Roman-1.ttf);
}
@font-face {
  font-family: UnisectHeadlineVnu-1;
  src: url('../font/UnisectHeadlineVnu-1.ttf');
}
@font-face {
  font-family: UnisectHeadlineVnu-Bold-1;
  src: url('../font/UnisectHeadlineVnu-Bold-1.ttf');
}
@font-face {
  font-family: UnisectVnu-1;
  src: url('../font/UnisectVnu-1.ttf');
}
@font-face {
  font-family: UnisectVnu-Bold-1;
  src: url('../font/UnisectVnu-Bold-1.ttf');
}
@font-face {
  font-family: UTMNeoSansIntel;
  src: url("../intro/font/UTM-Neo-Sans-Intel.ttf");
}
/*======================================================================
================== global Variables ===========================================
======================================================================*/
.box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.unselect {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.rad {
  border-radius: 3px;
}
.inline {
  display: inline-block;
}
.trans-bg {
  transition: background-color 0.2s ease;
}
.trans-border {
  transition: border-width 0.2s ease;
}
.colorGreen {
  color: #64bd60;
}
.colorOrange {
  color: #f79320;
}
.colorBluelight {
  color: #60c5ef;
}
.colorBlue {
  color: #4374b9;
}
.colorYellow {
  color: #ffcc27;
}
.colorGrey {
  color: #989898;
}
.colorLightGrey {
  color: #cccccc;
}
/*======================================================================
================== My mixin ===========================================
======================================================================*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ==========================================================================
   My reset
   ========================================================================== */
body {
  font-family: "Roboto Condensed", Helvetica, Arial;
  font-size: 13px;
  font-weight: 300;
}
body * {
  padding: 0;
  margin: 0;
}
body ol,
body ul {
  list-style: none;
}
body a {
  text-decoration: none;
  color: #464646;
  transition: color 0.2s ease-in-out 0s;
}
body a:hover {
  text-decoration: none;
  color: #4374b9;
}
.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.fb_hidden {
  position: absolute;
  top: -10000px;
  z-index: 10001;
}
table {
  border-collapse: separate;
  border-spacing: 2px;
}
.fb_invisible {
  display: none;
}
.fb_reset {
  background: none;
  border: 0;
  border-spacing: 0;
  color: #000;
  cursor: auto;
  direction: ltr;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}
.fb_reset > div {
  overflow: hidden;
}
.fb_link img {
  border: none;
}
.fb_dialog {
  background: rgba(82, 82, 82, 0.7);
  position: absolute;
  top: -10000px;
  z-index: 10001;
}
.fb_reset .fb_dialog_legacy {
  overflow: visible;
}
.fb_dialog_advanced {
  padding: 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.fb_dialog_content {
  background: #fff;
  color: #333;
}
.fb_dialog_close_icon {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
  _background-image: url(https://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
  cursor: pointer;
  display: block;
  height: 15px;
  position: absolute;
  right: 18px;
  top: 17px;
  width: 15px;
}
.fb_dialog_mobile .fb_dialog_close_icon {
  top: 5px;
  left: 5px;
  right: auto;
}
.fb_dialog_padding {
  background-color: transparent;
  position: absolute;
  width: 1px;
  z-index: -1;
}
.fb_dialog_close_icon:hover {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent;
  _background-image: url(https://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
}
.fb_dialog_close_icon:active {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent;
  _background-image: url(https://static.ak.fbcdn.net/rsrc.php/v2/yL/r/s816eWC-2sl.gif);
}
.fb_dialog_loader {
  background-color: #f6f7f8;
  border: 1px solid #606060;
  font-size: 24px;
  padding: 20px;
}
.fb_dialog_top_left,
.fb_dialog_top_right,
.fb_dialog_bottom_left,
.fb_dialog_bottom_right {
  height: 10px;
  width: 10px;
  overflow: hidden;
  position: absolute;
}
.fb_dialog_top_left {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 0;
  left: -10px;
  top: -10px;
}
.fb_dialog_top_right {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -10px;
  right: -10px;
  top: -10px;
}
.fb_dialog_bottom_left {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -20px;
  bottom: -10px;
  left: -10px;
}
.fb_dialog_bottom_right {
  background: url(https://static.ak.&gt;.net/rsrc.php/v2/ye/r/8YeTNIlTZjm.png) no-repeat 0 -30px;
  right: -10px;
  bottom: -10px;
}
.fb_dialog_vert_left,
.fb_dialog_vert_right,
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
  position: absolute;
  background: #525252;
  filter: alpha(opacity=70);
  opacity: .7;
}
.fb_dialog_vert_left,
.fb_dialog_vert_right {
  width: 10px;
  height: 100%;
}
.fb_dialog_vert_left {
  margin-left: -10px;
}
.fb_dialog_vert_right {
  right: 0;
  margin-right: -10px;
}
.fb_dialog_horiz_top,
.fb_dialog_horiz_bottom {
  width: 100%;
  height: 10px;
}
.fb_dialog_horiz_top {
  margin-top: -10px;
}
.fb_dialog_horiz_bottom {
  bottom: 0;
  margin-bottom: -10px;
}
.fb_dialog_iframe {
  line-height: 0;
}
.fb_dialog_content .dialog_title {
  background: #6d84b4;
  border: 1px solid #3a5795;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.fb_dialog_content .dialog_title > span {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
  float: left;
  padding: 5px 0 7px 26px;
}
body.fb_hidden {
  -webkit-transform: none;
  height: 100%;
  margin: 0;
  overflow: visible;
  position: absolute;
  top: -10000px;
  left: 0;
  width: 100%;
}
.fb_dialog.fb_dialog_mobile.loading {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/ya/r/3rhSv5V8j3o.gif) #ffffff no-repeat 50% 50%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 10001;
}
.fb_dialog.fb_dialog_mobile.loading.centered {
  max-height: 590px;
  min-height: 590px;
  max-width: 500px;
  min-width: 500px;
}
#fb-root #fb_dialog_ipad_overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
  z-index: 10000;
}
#fb-root #fb_dialog_ipad_overlay.hidden {
  display: none;
}
.fb_dialog.fb_dialog_mobile.loading iframe {
  visibility: hidden;
}
.fb_dialog_content .dialog_header {
  -webkit-box-shadow: #ffffff 0 1px 1px -1px inset;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738aba), to(#2c4987));
  border-bottom: 1px solid;
  border-color: #1d4088;
  color: #fff;
  font: 14px Helvetica, sans-serif;
  font-weight: bold;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
  vertical-align: middle;
  white-space: nowrap;
}
.fb_dialog_content .dialog_header table {
  -webkit-font-smoothing: subpixel-antialiased;
  height: 43px;
  width: 100%;
}
.fb_dialog_content .dialog_header td.header_left {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
  width: 60px;
}
.fb_dialog_content .dialog_header td.header_right {
  font-size: 12px;
  padding-right: 5px;
  vertical-align: middle;
  width: 60px;
}
.fb_dialog_content .touchable_button {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966a6), color-stop(0.5, #355492), to(#2a4887));
  border: 1px solid #2f477a;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.117188) 0 1px 1px inset, rgba(255, 255, 255, 0.167969) 0 1px 0;
  display: inline-block;
  margin-top: 3px;
  max-width: 85px;
  line-height: 18px;
  padding: 4px 12px;
  position: relative;
}
.fb_dialog_content .dialog_header .touchable_button input {
  border: none;
  background: none;
  color: #fff;
  font: 12px Helvetica, sans-serif;
  font-weight: bold;
  margin: 2px -12px;
  padding: 2px 6px 3px 6px;
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
}
.fb_dialog_content .dialog_header .header_center {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}
.fb_dialog_content .dialog_content {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
  border: 1px solid #555;
  border-bottom: 0;
  border-top: 0;
  height: 150px;
}
.fb_dialog_content .dialog_footer {
  background: #f6f7f8;
  border: 1px solid #555;
  border-top-color: #ccc;
  height: 40px;
}
#fb_dialog_loader_close {
  float: left;
}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
  text-shadow: rgba(0, 30, 84, 0.296875) 0 -1px 0;
}
.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
  visibility: hidden;
}
.fb_iframe_widget {
  display: inline-block;
  position: relative;
}
.fb_iframe_widget span {
  display: inline-block;
  position: relative;
  text-align: justify;
}
.fb_iframe_widget iframe {
  position: absolute;
}
.fb_iframe_widget_lift {
  z-index: 1;
}
.fb_hide_iframes iframe {
  position: relative;
  left: -10000px;
}
.fb_iframe_widget_loader {
  position: relative;
  display: inline-block;
}
.fb_iframe_widget_fluid {
  display: inline;
}
.fb_iframe_widget_fluid span {
  width: 100%;
}
.fb_iframe_widget_loader iframe {
  min-height: 32px;
  z-index: 2;
  zoom: 1;
}
.fb_iframe_widget_loader .FB_Loader {
  background: url(https://static.ak.fbcdn.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif) no-repeat;
  height: 32px;
  width: 32px;
  margin-left: -16px;
  position: absolute;
  left: 50%;
  z-index: 4;
}
a {
  outline: none;
}
.overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}
.overlay .modal-body {
  position: relative;
  overflow-y: auto;
  max-height: 400px;
  padding: 15px;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
}
.overlay .model {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 1050;
  width: 305px;
  background-color: #fff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
}
.overlay .modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: inset 0 1px 0 #fff;
  box-shadow: inset 0 1px 0 #fff;
}
.overlay .btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  background-color: #ea721b;
  vertical-align: middle;
  cursor: pointer;
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  color: #fff;
}
.notice {
  position: absolute;
  margin-top: -34px;
  margin-left: 78px;
  background-color: #8e9e93;
  padding: 6px;
  width: 150px;
  display: none;
}
.notice .progressbar {
  height: 20px;
  border-radius: 3px;
  background-color: #E72D16;
  width: 1%;
}
.topHeader {
  height: 125px;
  background-color: #FFF;
}
.topHeadBlock {
  float: left;
}
.topHeadLeft {
  padding-top: 10px;
}
.topHeadRight {
  float: right;
  padding-right: 0;
  padding-top: 2px;
}
.topHeadRight ul {
  margin: 0px;
  padding: 0px;
}
.topHeadRight li {
  display: inline-block;
  float: right;
  padding: 3px 0 0;
  text-align: right;
  width: 100%;
}
.topHeadRight li a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 9pt;
  text-decoration: none;
  color: #898989;
}
.nav {
  margin: 0px;
  padding: 0px;
  height: 40px;
  background-color: #f05a22;
  color: #FFF;
}
.nav ul {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}
.nav li {
  padding: 0px 30px;
  display: inline;
}
.nav a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 10.5pt;
  color: #FFF;
  text-decoration: none;
}
/*-------------------bo sung hover cho subNav---------------*/
.subNav a:hover {
  color: #f05a22;
}
/*-------------------bo sung nav Span--------------*/
.nav ul li.Active a span,
.spanActive {
  border-bottom: solid 2px #FFFFFF;
  padding-bottom: 2px;
}
.navSpanActive {
  border-bottom: solid 2px #FFFFFF;
  padding-bottom: 2px;
}
.navSpanDeactive {
  border-bottom: none;
}
.content {
  width: 100%;
  overflow: hidden;
  padding-bottom: 140px;
  min-height: 590px;
}
a:hover,
a:active {
  outline: none;
}
.footer {
  margin: 0px;
  padding: 0px;
  height: 45px;
  background-color: #f05a22;
  color: #FFF;
}
.footerBlock {
  float: left;
}
.footerBlock.footerLeft {
  width: 30%;
  text-align: left;
}
.footerBlock.footerMid {
  width: 40%;
  color: #FFF;
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal !important;
  font-size: 10pt;
  font-weight: 900;
  text-align: center;
  padding-top: 15px;
}
.footerBlock.footerRight {
  width: 30%;
  text-align: right;
}
.footerLink {
  font-family: "HelveticaNeueVnu-Bold-1";
  font-size: 10pt;
  padding-top: 15px;
}
.footerLink ul {
  margin: 0px;
  padding: 0px;
}
.footerLink li {
  padding: 0px 5px;
  display: inline;
}
.footerLink li a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal;
  font-size: 10pt;
  color: #FFF;
  text-decoration: none;
}
.connectUs {
  padding-top: 15px;
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal;
  font-size: 10pt;
}
.connectUs ul {
  margin: -3px 0px 0px 0px;
  padding: 0px;
  float: right;
}
.connectUs li {
  padding: 0px 0px 0px 5px;
  display: inline;
}
.connectUs li a {
  font-size: 0;
}
@font-face {
  font-family: "UTMNeoSansIntel";
  src: url("../font/UTM-Neo-Sans-Intel.eot");
  src: url("../font/UTM-Neo-Sans-Intel.eot?#iefix") format('embedded-opentype'), url("../font/UTM-Neo-Sans-Intel.ttf") format('truetype');
  font-style: normal;
}
body {
  font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
  font-size: 14px;
  line-height: 14pt;
  color: #555555;
  text-align: center;
  margin: 0px;
  padding: 0px;
  min-width: 1024px;
}
a.logo {
  height: 105px;
  width: 223px;
  background: url('//img.zing.vn/vng/skin/vng-2014/image/header/vngLogo.png') no-repeat scroll;
  display: block;
}
a.logo10 {
  width: 728px;
  height: 90px;
  display: block;
  background: url(//img.zing.vn/vng/skin/vng-2014/image/header/topBanner-en.png) no-repeat scroll;
}
a.logo10-vn {
  width: 728px;
  height: 90px;
  display: block;
  background: url(//img.zing.vn/vng/skin/vng-2014/image/header/topBanner.png) no-repeat scroll;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  padding: 0px;
  margin: 0px;
}
.container {
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: left;
  width: 1024px;
}
.clearFloat {
  clear: both;
}
.hrSubmit a.SendFriend {
  background-color: #b7b7b7;
  border: none;
  color: #fff;
  padding: 8px 10px;
  text-decoration: none;
  margin-left: 10px;
  font-weight: bold;
  font-family: Tahoma;
}
img {
  border: 0px;
}
.Results.rs_tag > li {
  padding-bottom: 20px;
  line-height: 23px;
}
.Results.rs_tag > li a {
  color: #f05a22;
  text-decoration: none;
  font-size: 14px;
}
.Results.rs_tag > li a:hover {
  text-decoration: underline;
}
/*----------------SUB NAV-----------*/
body {
  font-family: UTMNeoSansIntel;
  background-color: #fff;
}
h4 {
  color: #f05a22;
  font-size: 23px;
  padding-top: 0px;
  line-height: 130%;
  padding: 5px 0 20px 0;
}
.hrMajor h3 {
  color: #363636;
}
.hrMajor a.hrMajor_title_active {
  font-size: 16px;
  /* font-family:HelveticaNeueVnu-Bold-1; */
  line-height: 200%;
  color: #f05a22;
  font-weight: bold;
}
.hrMajor a.hrMajor_title {
  font-weight: bold;
  font-size: 16px;
  /* font-family:HelveticaNeueVnu-Bold-1; */
  line-height: 200%;
}
.hrSubmit {
  padding-top: 5px;
}
.hrSubmit p {
  margin-top: -10px;
  text-align: right;
  padding-right: 35px;
}
.subNav {
  margin: 0px;
  padding: 0px;
  height: 53px;
  background-color: #FFF;
  color: #898989;
  border-bottom: solid 1px #ebebeb;
}
.subNav ul {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1024px;
}
.subNav li {
  padding: 0px 0px;
  padding-top: 18px;
  display: inline-block;
  border-right: solid 1px #ebebeb;
  height: 35px;
  float: left;
}
.subNavActive {
  width: 328px;
  text-align: left;
}
.subNav a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 10.5pt;
  color: #898989;
  text-decoration: none;
}
.subNavActive a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal;
}
.subNav .activeLink {
  color: #f05a22;
}
/*---------------------CONTENT---------------*/
.hrTitle {
  padding-top: 40px;
  font-family: UnisectVnu-Bold-1;
  color: #00acd4;
  font-size: 24px;
}
.hrTitle a {
  color: #00acd4;
}
/*--------------------Col setting------------*/
.hrCol {
  float: left;
  margin-bottom: 60px;
  width: 680px;
}
.jobCol {
  float: left;
  margin-bottom: 60px;
}
.jobCol h4 {
  font-family: HelveticaNeueVnu-Bold-1, Arial;
  font-size: 12pt;
  color: #f05a22;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 10px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: bold;
}
.hrLCol {
  width: 230px;
  margin-right: 30px;
  margin-top: 10px;
}
.hrMidCol {
  width: 415px;
  padding-top: 15px;
}
.hrRCol {
  float: right;
  background-color: #f3f3f3;
  width: 236px;
  padding: 25px 38px 0px 38px;
}
.hrLCol h4,
.hrMidCol h4 {
  /* font-family:HelveticaNeueVnu-Bold-1, Arial; */
  font-size: 13pt;
  color: #f05a22;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 10px;
  line-height: 130%;
}
.hrRCol h4 {
  font-family: UnisectVnu-Bold-1;
  color: #f05a22;
  font-size: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
  line-height: 130%;
  padding: 20px 0 20px 0px;
}
.hrCol .readmore {
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: inline-block;
  float: right;
}
.hrBlock {
  margin-top: 20px;
  padding-bottom: 10px;
}
.hrBlock ul {
  list-style: inherit;
}
.hrCol p {
  /* font-family:HelveticaNeueVnu-Light-1; */
  font-size: 14px;
  color: #363636;
  line-height: 140%;
  clear: both;
}
.hrThumb {
  width: 85px;
  float: left;
  margin-top: -20px;
}
.hrText {
  width: 415px;
  float: left;
  margin-bottom: 10px;
}
.hrText .p_title {
  margin-top: 10px;
}
.hrText ul {
  margin-left: 15px;
}
.hrText li {
  margin-bottom: 1px;
}
.hrText ul {
  padding-left: 15px;
  margin-top: 0;
}
.hr_other {
  margin-bottom: 40px;
}
.hr_other a {
  text-decoration: none;
  color: #00acd4;
  font-family: HelveticaNeueVnu-Light-1;
  line-height: 200%;
}
.hr_other a:hover {
  color: #f05a22;
}
.hrFresherFace {
  margin-top: -15px;
}
.hrFresherFaceTitle {
  color: #00acd4;
  /* font-family: HelveticaNeueVnu-Roman-1; */
  font-size: 14px;
  line-height: 140%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.hrFresherFaceText {
  line-height: 140%;
  /* font-family: HelveticaNeueVnu-Light-1; */
  font-size: 14px;
}
.hrzLine {
  height: 1px;
  width: 100%;
  background-image: url(../images/HrzDotted-Line.jpg);
  background-repeat: repeat-x;
  margin-top: 8px;
  margin-bottom: 10px;
}
/*----------------hr submit button---------------*/
.hrBtn ul,
.hrShare ul {
  margin: 0px;
  padding: 0px;
}
.hrBtn ul li,
.hrShare ul li {
  display: inline;
}
#applyBtn {
  width: 85px;
  height: 30px;
  background-color: #00acd4;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}
#printBtn {
  width: 85px;
  height: 30px;
  background-color: #b7b7b7;
  border: none;
  color: #FFF;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}
.hrShare ul li {
  margin-left: 3px;
}
.hrBtn {
  float: left;
}
.hrShare {
  float: right;
}
.hrSubmit {
  padding-top: 5px;
}
.jcarousel-pagination {
  margin-top: 10px;
}
.fresherBenefit h4 {
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  font-weight: normal;
  font-size: 13pt;
  color: #00acd4;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: left center;
}
/*----------------SUB NAV-----------*/
.jobBlock {
  min-height: 60px;
}
.subNav {
  margin: 0px;
  padding: 0px;
  height: 53px;
  background-color: #FFF;
  color: #898989;
  border-bottom: solid 1px #ebebeb;
}
.p_title {
  color: #f05a22;
  margin-bottom: 10px;
  display: block;
}
.subNav ul {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1024px;
}
.subNav li {
  padding: 0px 0px;
  padding-top: 18px;
  display: inline-block;
  border-right: solid 1px #ebebeb;
  height: 35px;
  float: left;
}
.subNavActive {
  width: 328px;
  text-align: left;
}
.subNav a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 10.5pt;
  color: #898989;
  text-decoration: none;
}
.subNavActive a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal;
}
.subNav .activeLink {
  color: #f05a22;
}
/*---------------------CONTENT---------------*/
.homeBannerTitle {
  font-family: UnisectHeadlineVnu-Bold-1;
  font-size: 30px;
  line-height: 120%;
  padding-left: 65px;
  padding-top: 8%;
  color: #00acd4;
  background-image: url(../images/bannerSymbol.png);
  background-repeat: no-repeat;
  background-position: left 0px top 50%;
}
.hrBanner {
  min-height: 300px;
  background-image: url(../images/banner/danh-cho-sv.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hrBannerJob {
  min-height: 300px;
  background-image: url(../images/banner/danh-cho-sv.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/banner/co-hoi-nghe-nghiep.jpg);
}
.hrBannerEnvi {
  min-height: 300px;
  background-image: url(../images/banner/danh-cho-sv.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/banner/cuoc-song-vng.jpg);
}
.hrTitle {
  padding-top: 40px;
  font-family: UnisectVnu-Bold-1;
  color: #00acd4;
  font-size: 24px;
}
/*--------------------Col setting------------*/
.hrCol {
  float: left;
  margin-bottom: 40px;
}
.hrLCol {
  padding-top: 30px;
}
.hrRCol {
  float: right;
  background-color: #f3f3f3;
  width: 236px;
  padding: 25px 38px;
  margin-top: -10px;
}
.hrLCol h4 {
  /* font-family:HelveticaNeueVnu-Bold-1, Arial */
  font-size: 12pt;
  color: #f05a22;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 10px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: bold;
}
.hrRCol h4 {
  /*font-family:UnisectVnu-Bold-1; */
  color: #f05a22;
  font-size: 22px;
  padding-bottom: 20px;
  padding-top: 0px;
  line-height: 130%;
  font-weight: bold;
}
.hrCol .readmore {
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: inline-block;
}
.hrApply {
  float: right;
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 0px;
  display: inline-block;
}
.hrBlock {
  padding-bottom: 10px;
}
.hrCol p {
  /*font-family:HelveticaNeueVnu-Light-1; */
  font-size: 14px;
  color: #363636;
  line-height: 140%;
}
.hrMajor {
  width: 225px;
  float: left;
}
.hrJob {
  width: 415px;
  float: left;
  margin-right: 40px;
  margin-left: 30px;
}
.hrMajorList ul {
  margin: 0px;
  margin-left: 0px;
  padding: 0px;
}
.hrMajorList ul li {
  margin-bottom: 12px;
  list-style-type: none;
}
.hrMajorList ul li:before {
  content: "\3E \020";
  font-size: 9px;
}
.hrMajorList a {
  text-decoration: none;
  /*font-family:HelveticaNeueVnu-Light-1;*/
  font-size: 14px;
  color: #363636;
}
.hrMajorList a:hover {
  color: #f05a22;
}
.hrMajorList .active {
  color: #f05a22;
  font-weight: bold;
}
.jobCode {
  color: #00acd4;
  font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
  font-size: 11px;
}
.jobTitle a {
  text-decoration: none;
  color: #363636;
}
.jobTitle a:hover {
  color: #f05a22;
}
.newJob {
  margin-left: 10px;
}
.hrSearch {
  padding-bottom: 10px;
}
#printPage h4 {
  text-transform: uppercase;
}
.hrFaq {
  margin-top: 0px;
  padding-bottom: 0px;
}
/*---------------------reg form----------*/
#regName,
#regEmail,
#keyword {
  border: solid 1px #00acd4;
  width: 228px;
  height: 28px;
  margin-right: 0px;
  padding-left: 5px;
  color: #00acd4;
  font-size: 9pt;
  margin-bottom: 5px;
}
#city_id,
#cate_id,
#jobKind,
#jobLocal {
  border: solid 1px #00acd4;
  width: 235px;
  height: 30px;
  margin-right: 0px;
  padding-left: 4px;
  color: #00acd4;
  font-size: 9pt;
  margin-bottom: 5px;
  font-style: italic;
}
*::-webkit-input-placeholder {
  color: #00acd4;
  font-style: italic;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #00acd4;
  font-style: italic;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #00acd4;
  font-style: italic;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #00acd4;
  font-style: italic;
}
#reg_btn,
#reg_btn_next,
#reg_btn_back,
#reg_btn_question,
#reg_btn_rc,
.reg_btn {
  border: none;
  background-color: #00acd4;
  color: #FFF;
  width: 85px;
  height: 30px;
  cursor: pointer;
  margin: 5px 0px;
  border-radius: 0;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 12px;
}
.hrRegForm input[type=checkbox] {
  border: solid 1px #00acd4;
  background-color: #FFF;
  color: #FFF;
  width: 18px;
  height: 18px;
  cursor: pointer;
  vertical-align: middle;
}
.hrRegForm label {
  cursor: pointer;
  color: #00acd4;
  padding-left: 0px;
  font-size: 12px;
}
@-moz-document url-prefix() {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 12px 5px 0;
    vertical-align: middle;
    background: url(../image/check-box.png) left bottom no-repeat;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label span {
    background: url(../image/check-box.png) left top no-repeat;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 4px 12px 5px 0;
    vertical-align: middle;
    background: url(../image/check-box.png) left bottom no-repeat;
    cursor: pointer;
  }
  input[type="checkbox"]:checked + label span {
    background: url(../image/check-box.png) left top no-repeat;
  }
}
/*---------------------------job detail------------*/
.hrBtn ul,
.hrShare ul {
  margin: 0px;
  padding: 0px;
}
.hrBtn ul li,
.hrShare ul li {
  display: inline;
}
#applyBtn {
  width: 85px;
  height: 30px;
  background-color: #00acd4;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}
#printBtn {
  width: 85px;
  height: 30px;
  background-color: #b7b7b7;
  border: none;
  color: #FFF;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  font-size: 12px;
}
.hrShare ul li {
  margin-left: 3px;
}
.hrBtn {
  float: left;
}
.hrShare {
  float: right;
}
.hrSubmit {
  padding-top: 5px;
}
/*-------------------------hr Tab------------*/
.hrTabList {
  padding-top: 5px;
}
.hrTab_1 {
  padding-top: 10px;
  width: 180px;
  height: 24px;
  background-color: #FFF;
  float: left;
  border-top: solid 2px #00acd4;
  border-left: solid 1px #d9d9d9;
  border-bottom: solid 1px #FFF;
  cursor: pointer;
  text-align: center;
  font-family: HelveticaNeueVnu-Roman-1;
  color: #00acd4;
}
.hrTab_2 {
  padding-top: 10px;
  width: 180px;
  height: 25px;
  background-color: #f3f3f3;
  float: left;
  border-top: solid 1px #d9d9d9;
  border-right: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
  cursor: pointer;
  text-align: center;
  font-family: HelveticaNeueVnu-Roman-1;
  color: #898989;
}
.hrTabSpace {
  width: 50px;
  height: 35px;
  float: left;
  border-top: solid 1px #FFF;
  border-bottom: solid 1px #d9d9d9;
}
.hrTabInfo_1 ul,
.hrTabInfo_2 ul {
  margin: 0px;
  padding: 0px;
  margin-left: 15px;
  margin-top: 15px;
  color: #363636;
  line-height: 140%;
}
.hrTabInfo_2 {
  display: none;
}
.hrTabInfo_1 ul li,
.hrTabInfo_2 ul li {
  padding-bottom: 10px;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  margin: 0 auto;
  font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
}
.Critical {
  color: #ff0000;
  padding: 0;
  margin: 0;
}
h4 {
  color: #f05a22;
  font-size: 23px;
  padding-top: 0px;
  line-height: 130%;
  padding: 5px 0 20px 0;
}
table {
  margin: 0 auto;
}
.LeftText {
  text-align: left;
  padding: 0 10px;
  font-style: italic;
  font-size: 13px;
}
.LeftText span {
  color: #ff0000;
}
.Popup tr td {
  padding-bottom: 9px;
}
.Popup tr textarea,
.Popup tr select,
.Popup tr input {
  border-radius: 10px;
  width: 320px;
  border: solid 1px #00acd4;
  height: 28px;
  margin-right: 0px;
  padding-left: 5px;
  color: #00acd4;
  font-size: 9pt;
  background: #f3f3f3;
}
.Popup {
  margin: 0 auto;
  width: 500px;
}
.Popup tr select {
  width: 330px;
}
.Popup tr textarea {
  height: 150px;
}
.Popup tr input[type=file] {
  padding-top: 5px;
  background: url(//img.zing.vn/vng/skin/vng-2014/image/file.png) no-repeat top right;
}
table {
  margin: 0;
}
.ButtonDis {
  background: #00acd4 url(//img.zing.vn/vng/skin/vng-2014/image/loading.gif) no-repeat top center;
}
body {
  padding: 0;
  margin: 0;
}
.Critical,
.required {
  color: #ff0000 !important;
  padding: 0;
  margin: 0;
  font-size: 13px;
  text-align: left;
}
h4 {
  font-family: UnisectVnu-Bold-1;
  color: #f05a22;
  font-size: 23px;
  padding-top: 0px;
  line-height: 130%;
  padding: 0;
  margin: 0;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
}
.hr_reg h4 {
  font-family: UnisectVnu-Bold-1;
}
.hrFresherFace {
  margin-top: 0;
}
.message {
  position: fixed;
  top: 40%;
  right: 40%;
  background-color: #E03907;
  width: auto;
  height: auto;
  display: none;
  padding: 20px;
  color: #fff;
  font-size: 18px;
}
.success {
  background-color: #32AE17;
}
/*--------------------Col setting------------*/
.recruitCol {
  float: left;
  margin-bottom: 60px;
  width: 680px;
  padding-top: 40px;
}
.recruitCol .thumb {
  width: 75px;
  float: left;
}
.recruitCol .text {
  width: 570px;
  float: left;
  margin-left: 30px;
}
.recruitCol .text h4 {
  font-size: 13pt;
  padding-bottom: 10px;
}
.recruitCol .text h4 a {
  color: #f05a22;
}
.recruitCol .text h4 a:hover {
  color: #00acd4;
}
.recruitCol .readmore {
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: inline-block;
  float: right;
}
.recruitCol p {
  /* font-family:HelveticaNeueVnu-Light-1; */
  font-size: 14px;
  color: #363636;
  line-height: 140%;
  clear: both;
}
.adviseCol {
  float: left;
  margin-bottom: 60px;
  width: 680px;
  padding-top: 40px;
}
.adviseCol .thumb {
  width: 75px;
  float: left;
}
.adviseCol .hrText {
  width: 680px;
  float: left;
}
.adviseCol .hrBlock {
  margin-top: 0;
}
.adviseCol .seeMore {
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: block;
  text-align: right;
}
.adviseCol .seeMore a {
  text-decoration: none;
  /* font-family: HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: inline-block;
}
.adviseCol h4 a {
  font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
  font-size: 12pt;
  color: #f05a22;
  text-decoration: none;
  padding-top: 0px;
  padding-bottom: 10px;
  line-height: 130%;
}
.adviseCol .hrTips {
  padding-top: 20px !important;
}
.adviseCol .hrTips ul {
  margin-left: 20px !important;
  margin-top: -5px;
  margin-bottom: 0px;
}
.adviseCol .hrTips ul ul {
  list-style-type: circle;
}
.adviseCol .hrTips h4 {
  padding-bottom: 30px;
}
.adviseCol p {
  /* font-family:HelveticaNeueVnu-Light-1; */
  font-size: 14px;
  color: #363636;
  line-height: 140%;
  clear: both;
}
input[type="checkbox"] + label span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 4px 12px 5px 0;
  vertical-align: middle;
  background: url(../images/check-box.png) left bottom no-repeat;
  cursor: pointer;
}
input[type="checkbox"]:checked + label span {
  background: url(../images/check-box.png) left top no-repeat;
}
.applyBtnNop {
  /* width: 85px; */
  /* height: 17px; */
  background-color: #00acd4;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 10px;
  text-decoration: none;
  font-family: Tahoma;
}
.jobPageNav a {
  text-align: center;
  text-decoration: none;
  font-family: HelveticaNeueVnu-Bold-1, Arial;
  color: #363636;
  background-color: #ebebeb;
  padding: 3px 8px;
  margin-right: 3px;
  margin-left: 3px;
}
.jobPageNav .pageActive {
  text-decoration: none;
  font-family: HelveticaNeueVnu-Bold-1, Arial;
  color: #FFF;
  background-color: #00acd4;
}
/*----------------SUB NAV-----------*/
.subNav {
  margin: 0px;
  padding: 0px;
  height: 53px;
  background-color: #FFF;
  color: #898989;
  border-bottom: solid 1px #ebebeb;
}
.subNav ul {
  text-align: center;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 1024px;
}
.subNav li {
  padding: 0px 0px;
  padding-top: 18px;
  display: inline-block;
  border-right: solid 1px #ebebeb;
  height: 35px;
  float: left;
}
.subNavActive {
  width: 328px;
  text-align: left;
}
.subNav a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 10.5pt;
  color: #898989;
  text-decoration: none;
}
.subNavActive a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: normal;
}
.subNav .activeLink {
  color: #f05a22;
}
/*---------------------CONTENT---------------*/
.hrlifeBanner {
  min-height: 300px;
  background-image: url(../images/banner/cuoc-song-vng-phuc-loi.jpg);
  background-position: bottom right,center right;
  background-size: cover;
  background-repeat: no-repeat;
}
.hrLifeTitle {
  padding-top: 40px;
  padding-bottom: 20px;
  font-family: UnisectVnu-Bold-1;
  color: #00acd4;
  font-size: 24px;
}
.hrLifeTitle a {
  color: #00acd4;
}
/*--------------------Col setting------------*/
.hrLifeCol {
  width: 480px;
  float: left;
  margin-bottom: 120px;
}
.hrLifeRCol {
  float: right;
}
.hrLifeCol h4,
.hrLifeCol h4 a {
  font-family: HelveticaNeueVnu-Roman-1, Arial;
  font-weight: bold;
  font-size: 11pt;
  color: #f05a22;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 15px;
}
.hrLifeCol h4 a:hover {
  color: #00acd4;
}
.hr_reg {
  margin-top: 20px;
}
.hrLifeCol a {
  text-decoration: none;
  /* font-family:HelveticaNeueVnu-Roman-1, Arial; */
  color: #00acd4;
  margin-top: 10px;
  display: inline-block;
}
.hrLifeCol p {
  /* font-family:HelveticaNeueVnu-Light-1; */
  font-size: 14px;
  color: #363636;
  line-height: 140%;
}
.footer {
  width: 100%;
  bottom: 0px;
}
.enviCol {
  width: 480px;
  float: left;
  margin-bottom: 10px;
}
.enviCol .enviRCol {
  float: right;
  margin-left: 40px;
}
.enviCol h4 {
  /* font-family: HelveticaNeueVnu-Roman-1, Arial; */
  font-weight: normal;
  font-size: 13pt;
  color: #f05a22;
  text-decoration: none;
  margin-top: 5px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 38px;
  background-repeat: no-repeat;
  background-position: left center;
}
.enviroment .hrCol {
  margin: 0 !important;
  padding: 0;
  background-color: #fff;
}
