<div class="bg_banner">
	<div class="banner">
    	<div class="company"><img src="http://namlongvn.com/images/news_title_vn.png"></div>
        <div class="nav_line"><!-- --></div>
  <div class="navication">
        	<ul>
            	 <li><a href="http://namlongvn.com/vn/home.html">Trang chủ</a></li>
				 <li class="nav_arrow"><img src="http://namlongvn.com/images/icon_ero.png"></li>
                 <li><a href="http://namlongvn.com/vn/news.html">Tin tức &amp; sự kiện</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="bg_page">
    <div class="page">
        <div class="page_left">
            <?php echo $this->render('news/part/page_left.phtml');?>
        </div>
        <div class="page_right">
            <?php echo $this->render('news/part/page_right1.phtml');?>
        </div>
        <div class="ClearBoth"></div>
    </div>
</div>