<div class="content" id="#list">
  <?php echo $this->render('part/job/banner_job.phtml'); ?>
  <div class="container contentContainer">

      <div class="hrTitle">
        <a href="javascript:void(0)" onclick="window.location.reload(true);">
          <span style="border-bottom:solid 2px #00acd4">LỜI</span>
           KHUYÊN DÀNH CHO ỨNG VIÊN
        </a>
      </div>
      <!--end hrTitle -->

      <div class="hrCol adviseCol">
          <div class="hrBlock">
            <div class="hrText">
          <?php foreach ($this->advise as $key => $item):?>
            <div class="hrTips">
              <h4><a href="/co-hoi-nghe-nghiep/loi_khuyen/<?php echo $item->id;?>-<?php echo Utility_Unicode::toSlug($item->name)?>#list"><?php echo strtoupper($item->name)?></a></h4>
              <p><?php echo $item->short_description;?></p>
              <div class="seeMore"><a href="/co-hoi-nghe-nghiep/loi_khuyen/<?php echo $item->id;?>-<?php echo Utility_Unicode::toSlug($item->name)?>">&gt; XEM TIẾP</a></div>
            </div>
          <?php endforeach;?>
            <!--end hrTips --></div>
            <!--end hrText --></div>
      </div>
    <!--end hrLCol -->

      <div class="hrCol hrRCol">
          <?php echo $this->render('part/job/search.phtml'); ?>
          <?php echo $this->render('part/job/reg_receive.phtml'); ?>
      </div>
      <!--end hrRCol -->

      <div class="clearFloat"></div>
  </div>
 </div>