<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle($this->advise_item->name);
    $this->headMeta()->appendName('keywords', $this->advise_item->name.', VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', $this->advise_item->name.', VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->setProperty('og:title',                  $this->advise_item->name);
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description', $this->advise_item->name.', VNG Fresher, vng cuoc song, phuc loi');

?>
<div class="content" id="#list">
  <?php echo $this->render('part/job/banner_job.phtml'); ?>
  <div class="container contentContainer">

      <div class="hrTitle">
        <a href="javascript:void(0)" onclick="window.location.reload(true);">
          <span style="border-bottom:solid 2px #00acd4"><?php echo strtoupper(mb_substr($this->advise_item->name,0,2,'UTF-8'))?></span><?php echo strtoupper(substr($this->advise_item->name,2));
          ?>
        </a>
      </div>
      <!--end hrTitle -->

      <div class="hrCol adviseCol">
          <div class="hrBlock">
            <div class="hrText">
              <?php echo $this->advise_item->description?>
            </div>
            <!--end hrText --></div>
      </div>
    <!--end hrLCol -->

      <div class="hrCol hrRCol">
          <?php echo $this->render('part/job/search.phtml'); ?>
          <?php echo $this->render('part/job/reg_receive.phtml'); ?>
      </div>
      <!--end hrRCol -->

      <div class="clearFloat"></div>
  </div>
 </div>