<div class="content">
  <?php echo $this->render('part/job/banner_job.phtml'); ?>
  <div class="container contentContainer">

      <div class="hrTitle">
        <a href="/co-hoi-nghe-nghiep">
          <span style="border-bottom:solid 2px #00acd4">CƠ</span>
          HỘI NGHỀ NGHIỆP
        </a>
      </div>
      <!--end hrTitle -->

      <div class="jobCol">
          <?php echo $this->render('part/job/detail.phtml'); ?>
      </div>
    <!--end hrLCol -->

      <div class="hrCol hrRCol">
          <?php echo $this->render('part/job/right_col.phtml'); ?>
      </div>
      <!--end hrRCol -->

      <div class="clearFloat"></div>
  </div>
 </div>


<script>

$(document).ready(function() {
    $(".jobBlock").mouseover(function(){ $(this).find("tr a.hrApply").show() })
    $(".jobBlock").mouseout(function(){ $(this).find("tr a.hrApply").hide() })

})
</script>
<style>

.hrApply {
display:none;
}
</style>
