<div class="content">
  <?php echo $this->render('part/job/banner_job.phtml'); ?>
  <div class="container contentContainer">

      <div class="hrTitle">
        <a href="/co-hoi-nghe-nghiep">
          <span style="border-bottom:solid 2px #00acd4">CƠ</span>
          HỘI NGHỀ NGHIỆP
        </a>
      </div>
      <!--end hrTitle -->

      <div class="jobCol">
          <?php echo $this->render('part/job/content.phtml'); ?>
      </div>
    <!--end hrLCol -->

      <div class="hrCol hrRCol">
          <?php echo $this->render('part/job/right_col.phtml'); ?>
      </div>
      <!--end hrRCol -->

      <div class="clearFloat"></div>
  </div>
 </div>


<script id="tmpl-job" type="text/x-jquery-tmpl">
<h4>VỊ TRÍ ĐANG TUYỂN</h4>
<div  class="NoViewPage">
    {{each job_program_vn_ids}}
     <div class="hrzLine"></div>
        <div class="jobBlock">
            <table border="0" width="100%">
              <tbody><tr>
                <td class="jobCode">${code}
                    <a class="newJob" href="#">
                        <img src="//img.zing.vn/vng/skin/vng-2014/image/hr_work/newIcon.png" width="35" height="15">
                    </a>
                </td>
              </tr>
              <tr>
                <td class="jobTitle">
                    <a href="/job/detail?catId=${$data.id}&id=${id}" class="job_category_item" data-category="${$data.id}" data-id="${id}">
                        <strong> <span class="NameCate">${name_en}<span> </span></span></strong>  <br>${name}, ${city_id[1]}
                    </a>
                </td>
              </tr>
              <tr>
                <td><a data-fancybox-type="iframe" class="hrApply various" href="//www.vng.com.vn/nop-cv-online/software-engineer.667.html#list" style="display: none;">&gt; NỘP ĐƠN</a><div class="clearFloat"></div>
                </td>
              </tr>
            </tbody></table>
        </div>
    {{/each}}
  </div>
</div>
</script>




<script id="tmpl-job-detail" type="text/x-jquery-tmpl">
  <div id="printPage">
   <h4>${name}</h4>
    <div class="hrzLine"></div><!--end hrzLine -->
    <!---------------------job Block 1-------------- -->
    <div class="jobBlock">
      <table border="0" width="auto">
  <tbody><tr>
    <td style="font-weight:bold">Mã nghề nghiệp: </td>
    <td>${code}</td>
  </tr>
</tbody></table>

<table border="0" width="auto">
  <tbody><tr>
    <td style="font-weight:bold">Nơi làm việc: </td>
    <td>${city_id[1]} </td>
  </tr>
</tbody></table>
<table border="0" width="auto">
  <tbody><tr>
    <td style="font-weight:bold">Lương: </td>
    <td>${salary}</td>
  </tr>
</tbody></table>
    </div><!--end jobBlock -->

    <div class="hrzLine"></div><!--end hrzLine -->


    <div class="hrText">
    <p>
    <span class="p_title">Mô tả công việc</span>
     {{html description}}
    <span class="p_title">Yêu cầu</span>
    </p>
      {{html requirement}}
 </div>



<div class="hrzLine"></div><!--end hrzLine -->

<!--------------------------hr submit------------------- -->

<div class="hrSubmit">
    <p>Chia sẻ:</p>
    <div class="hrBtn">
          <ul>
              <li>
<a data-fancybox-type="iframe" class="applyBtnNop  various" href="//www.vng.com.vn/nop-cv-online/software-engineer.668.html"> NỘP ĐƠN </a>

</li>
                  <li><a href="//www.vng.com.vn/chia-se-vi-tri-tuyen-dung/index.html?linkSend=http://www.vng.com.vn/vn/tuyen-dung/chi-tiet.1.software-engineer.phat-trien-phan-mem.tp-ho-chi-minh.668.html#list" id="sendFriend" data-fancybox-type="iframe" title="GIỚI THIỆU CHO BẠN BÈ" class="SendFriend various"> GIỚI THIỆU CHO BẠN BÈ </a></li>
            </ul>
        </div><!--end hrBtn -->
        <div class="hrShare">
            <ul>
                    <li><a href="http://www.vng.com.vn/vn/tuyen-dung/chi-tiet.1.software-engineer.phat-trien-phan-mem.tp-ho-chi-minh.668.html#list" name="zm_share" link_share="http://link.apps.zing.vn/pro/view/conn/share?u=http%3A%2F%2Fwww.vng.com.vn%2Fvn%2Ftuyen-dung%2Fchi-tiet.1.software-engineer.phat-trien-phan-mem.tp-ho-chi-minh.668.html%23list&amp;t=Software%20Engineer%20-%20Tuy%E1%BB%83n%20d%E1%BB%A5ng%20%E1%BB%9F%20VNG%20-%20Tuy%E1%BB%83n%20d%E1%BB%A5ng%20vi%E1%BB%87c%20l%C3%A0m%20m%E1%BB%9Bi%20nh%E1%BA%A5t%20%E1%BB%9F%20VNG%20-%20Tuyen%20dung%202014&amp;desc=Software%20Engineer%2C%20Danh%20s%C3%A1ch%20tuy%E1%BB%83n%20d%E1%BB%A5ng%20c%C3%A1c%20vi%E1%BB%87c%20l%C3%A0m%20m%E1%BB%9Bi%20nh%E1%BA%A5t%20%E1%BB%9F%20VNG.%20N%E1%BB%99p%20%C4%91%C6%A1n%20tuy%E1%BB%83n%20d%E1%BB%A5ng%202014%2C%20gia%20nh%E1%BA%ADp%20VNG%20ngay%20h%C3%B4m%20nay!" style="text-decoration: none;"><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/zingLogo.png" width="24" height="24"></a></li>
                    <li><a href="#" class="FacebookBtn"><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/facebookLogo.png" width="24" height="24"></a></li>
      <li>
<a id="shareLinke" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=VNG Corporation&amp;summary=Make the Internet change Vietnamese lives&amp;source=Make the Internet change Vietnamese lives&amp;url=http://www.vng.com.vn/vn/tuyen-dung/chi-tiet.1.software-engineer.phat-trien-phan-mem.tp-ho-chi-minh.668.html#list" rel="nofollow" onclick="window.open(this.href,'mywindow','location=1,status=0,scrollbars=1, width=400,height=300');return false" onfocus="this.blur()"> <img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/linkedinLogo.png" title="Share on LinkedIn" alt="Share on LinkedIn" border="0"> </a>
</li>
                </ul>
        </div><!--end hrShare -->
        <div class="clearFloat"></div><!--end clearFloat -->
</div><!--end hrSubmit -->




<div class="clearFloat"></div><!--end clearFloat -->

</div>
</script>


<script>
 var list_school = <?php echo json_encode($this->school);?>;
$(document).ready(function() {
    $(".jobBlock").mouseover(function(){ $(this).find("tr a.hrApply").show() })
    $(".jobBlock").mouseout(function(){ $(this).find("tr a.hrApply").hide() })

})



</script>
<style>

.hrApply {
display:none;
}
</style>