@charset "utf-8";

@font-face {
   font-family:"UTMNeoSansIntel";
   src: url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel.eot"); 
   src: url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel.eot?#iefix") format('embedded-opentype'), 
   url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel.ttf") format('truetype');
   font-style: normal;
}



@font-face {

   font-family:"UTMNeoSansIntel-Bold";
    src: url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel-Bold.ttf"),
    
	url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel-Bold.ttf") format("woff"),
	url("//www.vng.com.vn/intro/font/UTM-Neo-Sans-Intel-Bold.ttf") format('truetype'),
    
    font-style: normal;
}


body {
	font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
	font-size: 14px;
	line-height: 14pt;
	color: #555555;
	text-align: center;
	margin: 0px;
	padding: 0px;
	min-width:1024px;
	
}

a.logo {
height: 105px;
width: 223px;
background: url('//img.zing.vn/vng/skin/vng-2014/image/header/vngLogo.png') no-repeat scroll;
display: block;
}

a.logo10 {
width: 728px;
height: 90px;
display: block;
background: url(//img.zing.vn/vng/skin/vng-2014/image/header/topBanner-en.png) no-repeat scroll;
}

a.logo10-vn {
width: 728px;
height: 90px;
display: block;
background: url(//img.zing.vn/vng/skin/vng-2014/image/header/topBanner.png) no-repeat scroll;
}




h1, h2, h3, h4, h5, h6, p, a
{
	padding:0px;
	margin:0px;
}
.container
{
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: left;
	width: 1024px;
}
.clearFloat {
	clear: both;
}
.hrSubmit a.SendFriend{
background-color: #b7b7b7;
border: none;
color: #fff;
padding: 8px 10px;
text-decoration: none;
margin-left: 10px;
font-weight: bold;
font-family: Tahoma;

}
img{border:0px}




.Results.rs_tag > li{
padding-bottom: 20px;
line-height:23px;
}


.Results.rs_tag > li a{
color:#f05a22;
text-decoration:none;
font-size:14px;
}

.Results.rs_tag > li a:hover{
text-decoration:underline;
}









