/*sonpt edit*/


   .divLine {
width: 22px;
height: 2px;
background-color: #00acd4;
margin-left: 65px;
margin-top: 15px;
margin-bottom: 15px;
}

.NoViewPage {
	display: none;
}

#viewPage_1 {
	display: block;
}
.hrSubmit {
padding-top: 5px;
}
.hrSubmit p {
margin-top: -10px;
text-align: right;
padding-right: 35px;
}

@media print
	{


	#printPage table td,
	#printPage p,
	#printPage div,
	#printPage h4,
	#printPage span,
	#printPage{
		display: block;
		overflow: hidden;
		color: #000;
	}

}
	.newsRow  {
		clear: both;
	}

table tr select {
border: solid 1px #00acd4;
width: 235px;
height: 30px;
margin-right: 0px;
padding-left: 4px;
color: #00acd4;
font-size: 9pt;
margin-bottom: 5px;
font-style: italic;
}
.homeBannerTitle {
font-family: UnisectHeadlineVnu-Bold-1;
font-size: 30px;
line-height: 120%;
padding-left: 65px;
padding-top: 8%;
color: #00acd4;
background-image: url(../image/homePage/bannerSymbol.png);
background-repeat: no-repeat;
background-position: left 0px top 50%;
}
a.SendFriend2 {

background-color: #e0e0e0;
border: none;
color: #000;
font-size: 12px;
padding: 4px;
text-decoration: none;
margin-left: 10px;
border: #a4a4a4 solid 1px;
}
.applyBtnNop {
/* width: 85px; */
/* height: 17px; */
background-color: #00acd4;
border: none;
color: #FFF;
cursor: pointer;
font-weight: bold;
font-size: 12px;
padding: 8px 10px;
text-decoration: none;
font-family: Tahoma;
}

.applyBtnReg ,
#applyBtnTour ,
#applyBtnReg {
background-color: #00acd4;
border: none;
color: #FFF;
cursor: pointer;
font-weight: bold;
font-size: 12px;
padding: 8px 10px;
text-decoration: none;
}

.DirectorView { display: none ;}
#director_1 { display: block; }
.directorList table td {
width: 83px;
display: block;
float: left;
}

@media screen and (max-width: 1024px){
    .homeBannerTitle {
	font-size: 22px;
	}

}

