@charset "utf-8";
/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------------------------------*/
.cultureSlider{
	/*background-image:url(../image/culturePage/cultureSlider_BG.png);*/
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:450px;
}
.cultureTitle
{
	text-align:center;
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-top:30px;
	padding-bottom:35px;
	background-image:url(../image/culturePage/cultureDashBG.png), url(../image/culturePage/cultureDashBG.png);
	background-repeat:no-repeat, no-repeat;
	background-position:33% center, 67% center;
}
.cultureLeftCol
{
	float:left;
}
.cultureRightCol
{
	margin-left:60px;
	float:left;
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	line-height:150%;
	color:#363636;
	width:450px;
/*	text-align: justify;*/
}
.cultureSlogan{
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:30px;
	line-height:120%;
	background-image:url(../image/culturePage/cultureSymbol.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:65px;
	margin-bottom:30px;
}
.cultureValue fieldset
{
	text-align:center;
	border:dotted 1px #959595;
	margin-left:65px;
	margin-bottom:45px;
}
.cultureValue fieldset legend
{
	/*font-family: HelveticaNeueVnu-Bold-1;*/
	font-size:14px;
	color:#555555;
	padding-left:10px;
	padding-right:10px;
	font-weight: bold;
}
.valueLeftCol{
	float:left;
	width:45%;
	text-align:left;
	margin-left:10%;
}
.valueRightCol{
	float:left;
	width:40%;
	text-align:left;
}
.valueLeftCol ul li, .valueRightCol ul li
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	line-height:130%;
	padding-bottom:5px;
}
/*---------------------------SLIDER LAYOUT----------------------*/
#outerWrapper{
	width : 100%;
	height : 100%;
	margin : 0;
	padding : 0;
	/*border:solid 1px #666;*/
}
#slider2{
	top : 0px;
}

/*---sliderPage---*/
#culture .sliderPage{
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
#culture .sliderPage_1{
	background-color:#fec10e;
	color:#FFF;
}
#culture .sliderPage_2{
	background-color:#00acd4;
	color:#FFF;
}
#culture .sliderPage_3{
	background-color:#fec10e;
	color:#FFF;
}
#culture .sliderPage_4{
	background-color:#00acd4;
	color:#FFF;
}
#culture .sliderPage_5{
	background-color:#fec10e;
	color:#FFF;
}
#culture .sliderPage_6{
	background-color:#00acd4;
	color:#FFF;
}
#culture .slideContentTitle{
	font-family: UnisectVnu-Bold-1;
	font-size:40px;
	padding-top:80px;
text-transform: uppercase;
}
#culture .slideContentText{
	padding-top:45px;
	width:400px;
	/* font-family: HelveticaNeueVnu-Light-1; */
	font-size:16px;
	line-height:150%;
}
#culture .slidePage_01
{
	background-image:url(../image/culturePage/sliderBG_01.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}
#culture .slidePage_02
{
	background-image:url(../image/culturePage/sliderBG_02.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}#culture .slidePage_03
{
	background-image:url(../image/culturePage/sliderBG_03.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}#culture .slidePage_04
{
	background-image:url(../image/culturePage/sliderBG_04.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}
#culture .slidePage_05
{
	background-image:url(../image/culturePage/sliderBG_05.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}
#culture .slidePage_06
{
	background-image:url(../image/culturePage/sliderBG_06.png);
	background-repeat:no-repeat;
	background-position:center right;
	width:100%;
	min-height:450px;
}