@charset "utf-8";
/*----------------SUB NAV-----------*/
.directorDetail img {

float: left;
margin-right: 20px;

}
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*-----------------------------------------------*/
.directorSlider{

	min-height:450px;
}
.directorTitle
{
	text-align:center;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	padding-top:30px;
	padding-bottom:35px;
	margin-top:15px;
	background-image:url(../image/directorPage/dashBG.png), url(../image/directorPage/dashBG.png);
	background-repeat:no-repeat, no-repeat;
	background-position:41% center, 59% center;
}
.directorInfo{
	background-color:#f3f3f3;
	padding: 35px 30px 35px 30px;
	margin-bottom: 55px;
	margin-top: 20px;
	position: relative;	
	width:958px;
}
.directorArrow{
	background-image: url(../image/directorPage/upArrow.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 16px;
	height: 8px;
	position: absolute;
	z-index: 100;
	top: -8px;
	left: 35px;
}
.directorName{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:36px;
	padding-bottom:15px;
	text-transform: uppercase;
}
.directorPos{
	font-family: HelveticaNeueVnu-Light-1;
	font-size:14px;
}
.directorDetail{
	padding-top:30px;
	min-height: 305px;
	/* font-family: HelveticaNeueVnu-Light-1; */
	font-size:14px;
	line-height:140%;
	
	
	
	-webkit-column-count:3; /* Chrome, Safari, Opera */
	-moz-column-count:3; /* Firefox */
	column-count:3;
	
	-webkit-column-gap:30px; /* Chrome, Safari, Opera */
	-moz-column-gap:30px; /* Firefox */
	column-gap:30px;

}
.directorList img{
	cursor:pointer;
}
.directorList{
	position:relative;
}
.activeLine{
	width:76px;
	height:3px;
	background-color:#f05a22;
	position:absolute;
	bottom:3px;
	z-index:20;
	margin-left:3px;
}

/*---sliderPage---*/
#director .sliderPage{
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
#director .sliderPage_1{
	background-color:#00acd4;
	color:#FFF;
	
}
#director .sliderPage_2{
	background-color:#00acd4;
	color:#FFF;
}
#director .sliderPage_3{
	background-color:#00acd4;
	color:#FFF;
}
#director .sliderPage_4{
	background-color:#00acd4;
	color:#FFF;
}
#director .sliderPage_5{
	background-color:#00acd4;
	color:#FFF;
}
#director .sliderPage_6{
	background-color:#00acd4;
	color:#FFF;
}
#director .slideContentTitle{
	font-family: UnisectHeadlineVnu-Bold-1;
	font-size:30px;
	line-height:130%;
	padding-top:60px;
	padding-bottom:10px;
}
#director .shortDivider{
	height:3px;
	width:25px;
	border-bottom:solid 3px #FFF;
}
#director .slideContentText{
	padding-top:30px;
	width:350px;
	/*font-family: Tahoma;*/
	font-size:15px;
	line-height:130%;
	/*text-align: justify;*/
}
.directorDetail p {
	margin-bottom:10px;
/*	text-align: justify;*/
}
#director .slidePage_01
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/banner/le-hong-minh.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;

}
#director .slidePage_02
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/banner/nguyen-hoang-que-nga.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;
}#director .slidePage_03
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/banner/nguyen-hoang-tien.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;
}#director .slidePage_04
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/banner/vuong-quang-khai.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;
}
#director .slidePage_05
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/banner/le-thi-ngoc-diep-2.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;
}
#director .slidePage_06
{
	background-image:url(../image/directorPage/directorSymbol.png), url(../image/directorPage/directorSliderThumb_06.png);
	background-repeat:no-repeat;
	background-position:top 60px left, bottom right 80px;
	width:100%;
	min-height:450px;
	padding-left:65px;
}