@charset "utf-8";


/*----------------SUB NAV-----------*/
.highlightLink2 { width: 225px;}
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}

.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
 text-transform: capitalize;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*-----------------newsBlock-------------------*/
.newsBlock{
	width:700px;
}
.newsTitle{
	/*font-family: HelveticaNeueVnu-Roman-1;*/
	color:#f05a22;
	font-size:24px;
	padding-top:22px;
	line-height: 22px;
}
.mainNews{
	width:675px;
	padding-top:15px;
	font-family: HelveticaNeueVnu-Light-1;
	font-size:14px;
	line-height:140%;
}
.mainNews a{
	text-decoration:none;
	color:#f05a22;
}

.newsImg{
	text-align:center;
	padding-top:30px;
	padding-bottom:20px;
}
.newsCredit{
	width:675px;
	padding-top:20px;
}
.share ul{
	margin:0px;
	padding:0px;
}
.share ul li{
	display:inline;
}
.share ul li{
	margin-left:3px;
}

.share{
	float:left;
}
.newsShare{
	float:left;
}
.newsAuthor{
	float:right;
	text-align:right;
	font-family: HelveticaNeueVnu-Bold-1;
	margin-top:-10px;
	font-size:14px;
}
.newsBlock{
	float:left;
	margin-top:20px;
}
.newsItem{
	width:212px;
	float:left;
	margin-right:20px;
}
.newsThumb{
	margin-bottom:5px;
}
.newsDate a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:11px;
	color:#00acd4;
	text-decoration:none;
}
.newsLink a{
	text-decoration:none;
	color:#363636;
	font-size:14px;
}
.newsTitleDevider
{
	padding-top:20px;
}
.hrzTitleDivider
{
	width:88%;
	height:1px;
	background-image:url(../image/historyPage/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:15px;
}
.hrzDivider
{
	width:100%;
	height:1px;
	background-image:url(../image/historyPage/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	margin-top:20px;
	margin-bottom:10px;
	clear: both;
}
.newsPageNav{
	text-align:center;
	margin-bottom:50px;
	margin-left:30px;
}
.newsPageNav ul{
	float:left;
}
.newsPageNav ul li{
	display: inline-block;
	text-align:center;
	
}
.newsPageNav a{
	text-align:center;
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#363636;
	background-color:#ebebeb;
	padding:4px 10px;
	margin-right:3px;
	margin-left:3px;
}
.newsPageNav a:hover{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}
.newsPageNav .pageActive{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}

/*--------search form-----*/
.search_block{
	float:left;
	padding-top:10px;
}

#searchText
{
	border:solid 1px #f15922;
	width:75px;
	height:21px;
	margin-right:0px;
	padding-left:5px;
	color:#f15922;
	font-size:9pt;
}
#search_btn
{
	background-image:url(../image/news_detail/search_arrow.png);
	border:none;
	background-repeat:no-repeat;
	background-color:#f15922;
	width:25px;
	height:25px;
	background-position: center center;
	cursor:pointer;
}
/*-----------------hightlight-----------*/
.highlightBlock{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:25px 38px;
	margin-top:20px;
}
.highlightTitle, .newsBlockTitle{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-bottom:20px;
}
.newsBlockTitle{
	margin-top:20px;
	margin-bottom:10px;
}
.highlightDes ul
{
	margin:0px;
	padding:0px;
	color:#363636;
	padding-bottom:25px
}
.highlightDes ul li
{
	padding-bottom:15px;
}
.highlightDes a{
	text-decoration:none;
	color:#363636;
	font-size:14px;
}
.highlightThumb{
	margin-top:10px;
	margin-bottom:5px;
}
.highlightDate a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:11px;
	color:#f15922;
	text-decoration:none;
}
.highlightLink{
	margin-bottom:25px;
}
.highlightYear ul{
}
.highlightYear ul li{
	display: inline-block;
	border:solid #898989 1px;
	width:30px;
	text-align:center;
	padding:5px 10px;
	margin-right:5px;
}
.highlightYear ul .lastYear{
	margin-right:0px;
}