@charset "utf-8";


/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav li.activeLink a:link,
.subNav li.activeLink a:visited,
.subNav li.activeLink a:hover,
.subNav .activeLink{
	color:#f05a22;
}
/*-----------------newsBlock-------------------*/
.newsBlock{
	float:left;
	margin-top:20px;
}
.newsItem{
	width:212px;
	float:left;
	margin-right:20px;
	margin-bottom:55px;
}
.newsThumb{
	margin-bottom:5px;
}
.newsDate a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:11px;
	color:#00acd4;
	text-decoration:none;
}
.newsLink a{
	text-decoration:none;
	color:#363636;
	font-size:14px;
}
.hrzDivider{
	border-bottom:dotted 1px #959595;
	margin-top:-10px;
	width:100%;
}
.newsPageNav{
	text-align:center;
	margin-bottom:50px;
	margin-left:30px;
}
.newsPageNav ul{
	float:left;
}
.newsPageNav ul li{
	display: inline-block;
	text-align:center;
	
}
.newsPageNav a{
	text-align:center;
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#363636;
	background-color:#ebebeb;
	padding:5px 10px;
	margin-right:3px;
	margin-left:3px;
}
.newsPageNav a:hover{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}
.newsPageNav .pageActive{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}

/*--------search form-----*/
.search_block{
	float:left;
	padding-top:10px;
}

#searchText
{
	border:solid 1px #f15922;
	width:75px;
	height:21px;
	margin-right:0px;
	padding-left:5px;
	color:#f15922;
	font-size:9pt;
}
#search_btn
{
	background-image:url(../image/newsPage/search_arrow.png);
	border:none;
	background-repeat:no-repeat;
	background-color:#f15922;
	width:25px;
	height:25px;
	background-position: center center;
	cursor:pointer;
}
/*-----------------hightlight-----------*/
.highlightBlock{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:25px 38px;
	margin-top:20px;
}
.highlightTitle{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-bottom:20px;
}
.highlightDes ul
{
	margin:0px;
	padding:0px;
	color:#363636;
	padding-bottom:25px
}
.highlightDes ul li
{
	padding-bottom:15px;
}
.highlightDes a{
	text-decoration:none;
	color:#363636;
	font-size:14px;
}
.highlightThumb{
	margin-top:10px;
	margin-bottom:5px;
}
.highlightDate a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:11px;
	color:#f15922;
	text-decoration:none;
}
.highlightLink{
	margin-bottom:25px;
}
.highlightYear ul{
}
.highlightYear ul li{
	display: inline-block;
	border:solid #898989 1px;
	width:30px;
	text-align:center;
	padding:5px 10px;
	margin-right:5px;
}
.highlightYear ul .lastYear{
	margin-right:0px;
}