@charset "utf-8";
/*--------------mapBlock--------*/
.mapBlock{
	min-height: 450px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;	
}
#map_canvas{
	position:absolute;
	z-index:50;
	height:100%;
	width:100%;
}
.mapInfo{
	width: 265px;
	height: 290px;
	background-color: #00acd4;
	position: absolute;
	z-index: 100;
	right: 165px;
	top: 55px;
	text-align:left;
	padding-top:25px;
	padding-left:30px;
	padding-bottom:25px;
	padding-right:20px;
}
.mapInfoTitle{
	font-family:UnisectVnu-Bold-1;
	color:#FFF;
	font-size:24px;
}
.mapInfo ul
{
	color:#FFF;
	margin-left:0px;
	padding-left:0px;
	padding-top:20px;
}
.mapInfo ul li{
	padding-bottom:15px;
}
.mapInfo a{
	color:#FFF;
	text-decoration:none;
	/* font-family: HelveticaNeueVnu-Light-1; */
	font-size: 14px;
}
.mapInfo h4{
	color:#FFF;
	/* font-family: HelveticaNeueVnu-Bold-1; */
	font-size: 14px;
}
/*-------------addressBlock------*/
.addressBlock{
	padding-bottom:40px;
}
.localCol
{
	float:left;
	width:30%;
	padding-right:5%;
}
.localCol3
{
	padding-right:0px;
}
.localTitle{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-top:40px;
	padding-bottom:30px;
}
.address{
	padding-bottom:10px;
}
.address h4{
	color:#555555;
	font-family: HelveticaNeueVnu-Bold-1;
	font-size: 15px;
	
}
.address p{
	color:#363636;
	/* font-family: HelveticaNeueVnu-Light-1, Arial, sans-serif; */
	font-size: 14px;
	line-height: 150%;
}
.address a{
	text-decoration:none;
	color:#00acd4;
	/* font-family: HelveticaNeueVnu-Light-1, Arial, sans-serif; */
	font-size: 14px;
	line-height:150%;
	
}