@charset "utf-8";
/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;
	float:left;	
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*------------------historySlider--------------*/
.historySlider{
	/*background-image:url(../image/historyPage/historySlider_thumb.png);*/
	min-height:315px;
	background-size:cover;
}
#history .slidePage_01, #history .slideContent_1{
	background-image:url(../image/banner/banner-lich-su-2.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100%;
}
#history .slidePage_02{
	background-image:url(../image/banner/banner-lich-su-1.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100%;
}
#history .slidePage_03{
	background-image:url(../image/banner/banner-lich-su-3.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100%;
}
#history .slidePage_04{
	background-image:url(../image/banner/banner-lich-su-4.jpg);
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	width:100%;
	height:100%;
}
/*------------------historyBlock-------------*/
.hrzDivider
{
	width:100%;
	height:1px;
	background-image:url(../image/historyPage/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	margin-top:40px;
	margin-bottom:40px;
}
.historyCol
{
	width:415px;
}


.historyTitle{
	font-family:UnisectVnu-1;
	font-size:37px;
}
.historyTitle1
{
	padding-top:130px;
	padding-left:154px;
	color:#00acd4;
}


.historyCap{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:16px;
	padding-top:20px;
}
.historyCap1
{
	color:#f05a22;
}
.historyCol1
{
	background-image:url(../image/historyPage/history_thumb_01.png);
	background-position:0px 110px;
	background-repeat:no-repeat;
	min-height:330px;
	margin-top:20px;
	float:left;
}
.historyCol1 p
{
	padding-top:170px;
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:15px;
	color:#363636;
	padding-left:122px;
	line-height:130%;
}
.historyCol2{
	width:280px;
	float:left;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
}
.historyCol2 p
{
	
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:15px;
	color:#363636;
	line-height:130%;
	
}
.historyCol3{
	width:265px;
	float:left;
	padding-top:30px;
}
.historyCol3 p
{
	
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:15px;
	color:#363636;
	padding-left:0px;
	line-height:130%;
}
/*----------block 2----------*/
.historyBlock2 .historyCol1{
	background-image:url(../image/historyPage/history_thumb_02.png);
	background-position:0px 110px;
	background-repeat:no-repeat;
	min-height:330px;
	margin-top:20px;
	float:left;
}
.historyTitle2
{
	padding-top:130px;
	padding-left:154px;
	color:#f05a22;
}
.historyCap2
{
	color:#fec10d;
}


/*----------block 3----------*/
.historyBlock3 .historyCol1{
	background-image:url(../image/historyPage/history_thumb_03.png);
	background-position:0px 110px;
	background-repeat:no-repeat;
	min-height:330px;
	margin-top:-40px;
	float:left;
}
.historyBlock2 .historyCol2, .historyBlock2 .historyCol3, .historyBlock3 .historyCol2, .historyBlock3 .historyCol3{
	padding-top:0px;
}
.historyTitle3
{
	padding-top:130px;
	padding-left:154px;
	color:#fec10d;
}
.historyCap3
{
	color:#00acd4;
}
.historyBlock3 .historyCol1 p
{
	padding-top:82px;
}
/*----------block 4----------*/
.historyBlock4 .historyCol1{
	background-image:url(../image/historyPage/history_thumb_04.png);
	background-position:0px 110px;
	background-repeat:no-repeat;
	min-height:270px;
	margin-top:-70px;
	float:left;
}
.historyTitle4
{
	padding-top:130px;
	padding-left:154px;
	color:#00acd4;
}
.historyCap4
{
	color:#f05a22;
}
.historyBlock4 .historyCol2 
{
	width:570px;
	float:left;
	padding-right:0px;
	padding-top:0px;
}