@charset "utf-8";
.partnerTitle
{
	text-align:center;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	padding-top:30px;
	padding-bottom:35px;
	background-image:url(../image/partnerPage/dashBG.png), url(../image/partnerPage/dashBG.png);
	background-repeat:no-repeat, no-repeat;
	background-position:39% center, 61% center;
}
.partnerDesCol{
	float:left;
	width:30%;
	padding-right:5%;
	/* font-family: HelveticaNeueVnu-Light-1; */
	font-size: 14px;
	line-height:140%;
}
.partnerDesCol3
{
	padding-right:0px;
}
/*-------------partnerTable---------------*/
.partnerTable{
	border:solid 1px #d9d9d9;
	margin-bottom:60px;
	margin-top:40px;
}
.logoBlock
{
	float:left;
	width:19.9%;
	
}
.logoLastBlock
{

}
.vertDivide{
	float:left;
	width:1px;
	height:110px;
	background-color:#d9d9d9;
	margin-top:10px;
	margin-bottom:10px;
	
}
.hrzDivide{
	width:183px;
	height:1px;
	background-color:#d9d9d9;
	margin-left:10px;
	margin-right:10px;
}
/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}