@charset "utf-8";
.iosSliderDemo {
	clear: both;
	width: 100%;
	/* padding: 0 0 30% 0; */
	padding: 0 0 390px;
	margin: 0 0 -40px 0;
	position: relative;
	
}

.fluidHeight {
	position: absolute;
	width: 100%;
	height: 315px;
	padding: 0 0;
	background-color:transparent;
}

.sliderContainer {
	height: 100%;
	max-height: 315px;
	padding: 0 0;
	min-width:315px;
	height:315px;
	
}

#history .iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 315px;
}

#history  .iosSlider .slider {
	width: 100%;
	height: 100%;
}

#history  .iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
	
}

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	background-position: 50% 0;
	background-repeat: no-repeat;
	
}

.sliderContainer .slideSelectors {
	position: relative;
	bottom: -17px;
	right: 0px;
	width: 100px;

	margin: 0px;
	margin-right:0px;
	z-index: 1;
	height: 11px;
	float:right;
	/*background-color:#0C6;*/
	
}


.sliderContainer .slideSelectors .item {
	float: left;
	width: 8px;
	height: 8px;
	background: #aaa;
	background-color:transparent;
	margin: 1px 1px 1px 11px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	border-radius: 10px;
	border:solid 2px #00acd4;
}

.sliderContainer .slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer .slideSelectors .selected {
	width: 8px;
	height: 8px;
	margin: 1px 1px 1px 11px;
	background: #00acd4;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
	border:solid 2px #00acd4;
}

.sliderContainer .slideSelectors .selected.first {
	margin-left: 0;
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}

@media screen and (max-width: 1200px) {
	
	.iosSliderDemo {
		/*padding-bottom: 424px;*/
	}
	
	.fluidHeight {
		height: 334px;
	}
	
	.iosSlider .slider .item {
		width: 100%;
	}

	.iosSlider .slider .item .inner {
		width: 100%;
	}
	
	.sliderContainer .slideSelectors {}
	
}