.iosSliderDemo {
	clear: both;
	width: 100%;
	/* padding: 0 0 30% 0; */
	padding: 0 0 490px;
	margin: 0 0 -40px 0;
	position: relative;
}

.fluidHeight {
	position: absolute;
	width: 100%;
	height: 450px;
	padding: 0 0;
	background: none;
	box-shadow: inset 0 3px 10px -4px #000, inset 0 -3px 10px -4px #000;
	background-color:transparent;
}

.sliderContainer {
	height: 100%;
	max-height: 450px;
	padding: 0 0;
	min-height:450px;
	
}

.iosSlider {
	position: relative;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.iosSlider .slider {
	width: 100%;
	height: 100%;
}

.iosSlider .slider .item {
	width: 100%;
	height: 100%;
	padding: 0 0 0 0;
	text-align: center;
	
}

.iosSlider .slider .item .inner {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0 auto;
	height: 100%;
	box-shadow: 0 0 10px -5px #000;
	background-position: 0 0;
	background-repeat: no-repeat;
	
}

.sliderContainer .slideSelectors {
	position: relative;
	bottom: 30px;
	left: -10px;
	width: 100%;
	margin: 0px;
	z-index: 1;
	height: 11px;
	float:left;
	padding-left:65px;
	
}


.sliderContainer .slideSelectors .item {
	float: left;
	width: 12px;
	height: 12px;
	background: #aaa;
	background-color:transparent;
	margin: 1px 1px 1px 11px;
	/* opacity: 0.25; */
	filter: alpha(opacity=25);
	border-radius: 10px;
	border:solid 2px #FFF;
	
}

.sliderContainer .slideSelectors .item.first {
	margin-left: 1px;
}

.sliderContainer .slideSelectors .selected {
	width: 12px;
	height: 12px;
	margin: 1px 1px 1px 11px;
	background: #FFF;
	opacity: 1;
	filter: alpha(opacity=100);
	box-shadow: none;
}

.sliderContainer .slideSelectors .selected.first {
	margin-left: 0;
}

.sliderContainer .scrollbarContainer {
	position: relative;
	bottom: 4px;
	left: 0;
	width: 1024px;
	height: 4px;
	margin: 0 auto;
	z-index: 1;
}

@media screen and (max-width: 1200px) {
	
	.iosSliderDemo {
		/*padding-bottom: 424px;*/
	}
	
	.fluidHeight {
		height: 334px;
	}
	
	.iosSlider .slider .item {
		width: 100%;
	}

	.iosSlider .slider .item .inner {
		width: 100%;
	}
	
	.sliderContainer .slideSelectors {}
	
}