@charset "utf-8";
.footer {
	margin: 0px;
	padding: 0px;
	height: 45px;
	background-color: #f05a22;
	color:#FFF;

}
.footerBlock{
	float:left;
}
.footerBlock.footerLeft{
	width:30%;
	text-align:left;
}
.footerBlock.footerMid{
	width:40%;
	color:#FFF;
	font-family: HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal !important;
	font-size:10pt;
	font-weight:900;
	text-align:center;
	padding-top:15px;
}
.footerBlock.footerRight{
	width:30%;
	text-align:right;
}
.footerLink{
	font-family: "HelveticaNeueVnu-Bold-1";
	font-size: 10pt;
	padding-top: 15px;
}
.footerLink ul
{
	margin:0px;
	padding:0px;
}
.footerLink li
{
	padding:0px 5px;
	display:inline;
}
.footerLink li a
{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:10pt;
	color:#FFF;
	text-decoration:none;
}
.connectUs{
	padding-top:15px;
	font-family: HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
	font-size:10pt;
}
.connectUs ul
{
	margin:-3px 0px 0px 0px;
	padding:0px;
	float:right;
}
.connectUs li
{
	padding:0px 0px 0px 5px;
	display:inline;
	
}

.connectUs li a{
 font-size:0;
}