@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}

.subNav li:first-child{
	width: 329px;
}

.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
text-transform: capitalize;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/
.homeBannerTitle {
font-family: UnisectHeadlineVnu-Bold-1;
font-size: 30px;
line-height: 120%;
padding-left: 65px;
padding-top: 8%;
color: #00acd4;
background-image: url(../image/homePage/bannerSymbol.png);
background-repeat: no-repeat;
background-position: left 0px top 50%;
}
.hrBanner{
	min-height:300px;
	background-image:url(../image/banner/cuoc-song-vng.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrBanner_moiTruong{
	min-height:300px;
	background-image:url(../image/banner/cuoc-song-vng-moi-truong.jpg);
	background-position:bottom right,center right;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrBanner_phucLoi{
	min-height:300px;
	background-image:url(../image/banner/cuoc-song-vng-phuc-loi.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrBanner_loiKhuyen{
	min-height:300px;
	background-image:url(../image/banner/loi-khuyen.jpg);
	background-position:bottom right,center right;
	background-size: cover;
	background-repeat:no-repeat;
}

.hrTitle{
	text-align:center;
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-top:30px;
	padding-bottom:30px;
	background-image:url(../image/hr_environment/dashSymbol.png), url(../image/hr_environment/dashSymbol.png);
	background-repeat:no-repeat, no-repeat;
	background-position:41% center, 59% center;
	margin-top:10px;
}

.hrSlogan{
	width:830px;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:30px;
	line-height:120%;
	background-image:url(../image/hr_benefit/headSymbol%20.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	padding-left:65px;
	margin-bottom:30px;
	margin-left:100px;
}

/*--------------------Col setting------------*/
.hrCol{
	width:480px;
	float:left;
	margin-bottom:10px;
	
}
.hrRCol{
	float:right;
	margin-left:40px;
}
.hrCol h4{

	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	font-weight:normal;
	font-size:13pt;
	color:#f05a22;
	text-decoration:none;
	margin-top:5px;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:38px;
	background-repeat:no-repeat;
	background-position:left center;
}
.hrText h4 a { 
color: #f05a22;
}
.hrText h4 a:hover { 
color: #00acd4;
}
.hrCol a{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	color:#00acd4;
	/* margin-top:10px;*/
	display:inline-block;
}
.hrCol p
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.footer{
	margin-top:40px;
}






body.vrVN .subNav {
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  color: #898989;
  min-height: 35px;
  margin: 0;
  padding: 0;
}


body.vrVN .subNav li {
  border-right: 1px solid #ebebeb;
  display: inline-block;
  float: left;
  height: 35px;
  /*padding: 18px 0;*/
  line-height: 16px;
  width: 19.9%;
}

body.vrVN .subNav li a {
  display: block;
  font-family: HelveticaNeueVnu-Roman-1,Arial;

  overflow: hidden;
vertical-align: middle;
}