@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/
.hrBanner{
	min-height:300px;
	background-image:url(../image/banner/banner-danh-cho-sv.jpg);
	background-position:bottom right,center right;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrTitle{
	padding-top:40px;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
		background-image: none;
		text-align: left;
}

/*--------------------Col setting------------*/
.hrCol{
	
	float:left;
	margin-bottom:60px;
	
}
.hrLCol{
	padding-top:40px;
	width: 680px;
}
.hrRCol{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:0px 38px;
	margin-top:-10px;
	margin-left:0px;

}
.hrLCol h4{

	font-family:UnisectVnu-Bold-1, Arial;
	font-size:13pt;
	color:#f05a22;
	text-decoration:none;
	padding-top:0px;
	padding-bottom:10px;
	line-height:130%;
	padding-left:0;
}
.hrRCol h4{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-bottom:13px;
	padding-top:0px;
	line-height:130%;
	padding-left: 0;
}
.hrCol .readmore{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial;*/
	color:#00acd4;
	margin-top:23px;
	display:inline-block;
	float:right;
}
.hrBlock{
	padding-bottom:10px;
}
.hrCol p
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.hrThumb{
	width:75px;
	float:left;
}
.hrText{
	width:570px;
	float:left;
	margin-left:30px;
}
.hrFaq{
	margin-top:0px;
	padding-bottom:30px;
}
/*---------------------reg form----------*/
#regName, #regEmail
{
	border:solid 1px #00acd4;
	width:228px;
	height:28px;
	margin-right:0px;
	padding-left:5px;
	color:#00acd4;
	font-size:9pt;
	margin-bottom:5px;
}
*::-webkit-input-placeholder {
   color: #00acd4;
   font-style:italic;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #00acd4;
	font-style:italic;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #00acd4;
	font-style:italic;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #00acd4;
	font-style:italic;
}
#reg_btn
{
	border:none;
	background-color:#00acd4;
	color:#FFF;
	width:85px;
	height:30px;
	cursor:pointer;
	margin:5px 0px;
	font-family: HelveticaNeueVnu-Light-1;
	font-weight:bold;
	font-size:12px;
}
.hrRegForm input[type=checkbox]{
	border:solid 1px #00acd4;
	background-color:#FFF;
	color:#FFF;
	width:18px;
	height:18px;
	cursor:pointer;
}
.hrRegForm label{
	cursor:pointer;
	color:#00acd4;
	padding-left:7px;
	font-size:12px;
}