@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/
.hrBanner{
	min-height:300px;
	background-image: url(../image/banner/co-hoi-nghe-nghiep.jpg);
	background-position:bottom right,center right;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrTitle{
	padding-top:40px;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
}

/*--------------------Col setting------------*/
.hrCol{
	
	float:left;
	margin-bottom:40px;
	
}
.hrLCol{
	padding-top:30px;
}
.hrRCol{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:25px 38px;
	margin-top:-10px;

}
.hrLCol h4{

	font-family:HelveticaNeueVnu-Bold-1, Arial;
	font-size:12pt;
	color:#f05a22;
	text-decoration:none;
	padding-top:0px;
	padding-bottom:10px;
	line-height:130%;
}
.hrRCol h4{
	font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:23px;
	padding-bottom:20px;
	padding-top:0px;
	line-height:130%;
}
.hrCol .readmore{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial;*/
	color:#00acd4;
	margin-top:10px;
	display:inline-block;
}
.hrApply{
	float:right;
	text-decoration:none;
	/*font-family:HelveticaNeueVnu-Roman-1, Arial;*/
	color:#00acd4;
	margin-top:0px;
	display:inline-block;
}
.hrBlock{
	padding-bottom:10px;
}
.hrCol p
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.hrMajor{
	width:215px;
	float:left;
}
.hrJob{
	width:415px;
	float:left;
	margin-right:40px;
	margin-left:30px;
}
.hrMajorList ul{
	margin:0px;
	margin-left:0px;
	padding:0px;
	
}
.hrMajorList ul li{
	margin-bottom:12px;
	list-style-type:none;
	
}
.hrMajorList ul li:before{
	content: "\3E \020";
	font-size:10px;
	position: relative;
	top: -2px;
	
}
.hrMajorList a{
	text-decoration:none;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
}
.hrMajorList a:hover{
	color:#f05a22;
}
.hrMajorList .active{
	color:#f05a22;
	font-weight:bold;
}
.jobCode{
	color:#00acd4;
	font-family: HelveticaNeueVnu-Roman-1;
	font-size:11px;
}
.jobTitle a{
	text-decoration:none;
	color:#363636;
}
.jobTitle a:hover{
	color:#f05a22;
}
.newJob{
	margin-left:10px;
}
.hrzLine{
	height:1px;
	width:100%;
	background-image:url(../image/hr_work/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	margin-top:8px;
	margin-bottom:10px;
}
.hrSearch{
	padding-bottom:30px;
}
.hrFaq{
	margin-top:40px;
	padding-bottom:0px;
}
/*---------------------reg form----------*/
#regName, #regEmail, #keyword
{
	border:solid 1px #00acd4;
	width:228px;
	height:28px;
	margin-right:0px;
	padding-left:5px;
	color:#00acd4;
	font-size:9pt;
	margin-bottom:5px;
}
#jobKind, #jobLocal{
	border:solid 1px #00acd4;
	width:235px;
	height:30px;
	margin-right:0px;
	padding-left:4px;
	color:#00acd4;
	font-size:9pt;
	margin-bottom:5px;
	font-style:italic;
}
*::-webkit-input-placeholder {
   color: #00acd4;
   font-style:italic;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #00acd4;
	font-style:italic;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #00acd4;
	font-style:italic;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #00acd4;
	font-style:italic;
}
#reg_btn
{
	border:none;
	background-color:#00acd4;
	color:#FFF;
	width:85px;
	height:30px;
	cursor:pointer;
	margin:5px 0px;
	font-family: HelveticaNeueVnu-Light-1;
	font-weight:bold;
	font-size:12px;
}
.hrRegForm input[type=checkbox]{
	border:solid 1px #00acd4;
	background-color:#FFF;
	color:#FFF;
	width:18px;
	height:18px;
	cursor:pointer;
}
.hrRegForm label{
	cursor:pointer;
	color:#00acd4;
	padding-left:7px;
	font-size:12px;
}
/*------------------job Page nav--------------*/
.jobPageNav{
	text-align:center;
	
}
.jobPageNav ul{
	float:left;
}
.jobPageNav ul li{
	display: inline-block;
	text-align:center;
	
}
.jobPageNav a{
	text-align:center;
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#363636;
	background-color:#ebebeb;
	padding:3px 8px;
	margin-right:3px;
	margin-left:3px;
}
.jobPageNav a:hover{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}
.jobPageNav .pageActive{
	text-decoration:none;
	font-family:HelveticaNeueVnu-Bold-1, Arial;
	color:#FFF;
	background-color:#00acd4;
}