@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------Col setting---------------*/
.ecommerceLCol{
	width:500px;
	min-height:180px;
	padding-top:40px;
	padding-left:255px;
	background-image:url(../image/product_ecommerce/ecommerceThumb.png);
	background-repeat:no-repeat;
	background-position:top 22px left;
	float:left;
}
.ecommerceTitle{
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	padding-bottom:20px;
}
.ecommerceDes{
	/*font-family:HelveticaNeueVnu-Light-1;*/
	font-size:14px;
	color:#363636;
	line-height:140%;
	padding-top:25px;
}
.ecommerceRCol
{
	float:right;
	padding-top:40px;
}
.ecommerceRCol fieldset
{
	text-align:center;
	border:dotted 1px #959595;
	width:280px;
	padding-bottom:12px;
	padding-left:23px;
	padding-right:23px;
}
.ecommerceRCol fieldset legend
{
	font-family: HelveticaNeueVnu-Bold-1;
	font-size:12px;
	color:#555555;
	padding-left:10px;
	padding-right:10px;
}
.ecommerceRCol fieldset img{
	margin-top:10px;
	margin-bottom:10px;
}
.otherLeftCol{
	float:left;
	width:125px;
}
.otherRightCol{
	float:right;
	width:125px;

}
.otherLeftCol a, .otherRightCol a{
		font-family:HelveticaNeueVnu-Light-1;
	font-size:14px;
	color:#363636;
	line-height:130%;
	text-decoration:none;
}
.ecommerceProductBlock{
	width:100%;
	border:solid 1px #d9d9d9;
	padding:10px 0px;
	margin-bottom:120px;
}
.ecommerce_1{
	float:left;
	width:49%;
	text-align:center;
}
.ecommerce_2{
	border-left:solid 1px #d9d9d9;
	float:left;
	width:50%;
	text-align:center;
	
}
.ecommerceProductTitle{
	font-family: HelveticaNeueVnu-Bold-1;
	color:#00acd4;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
}
.ecommerce_1 img, .ecommerce_2 img, .ecommerce_3 img, .ecommerce_4 img{
	margin-bottom:20px;
}
.ecommerce_1 img{
	margin-top:15px;
}
.ecommerce_2 img{
	padding-bottom:8px;
}
.ecommerce_3 img{
	margin-bottom:15px;
}
.ecommerce_4 img{
	margin-top:15px;
}
.footer{
	
	width:100%;
	bottom:0px;
}