@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------Col setting---------------*/
.socialLCol{
	width:610px;
	min-height:180px;
	padding-top:30px;
	padding-left:255px;
	background-image:url(../image/product_socialPage/socialThumb.png);
	background-repeat:no-repeat;
	background-position:top 22px left;
	float:left;
}
.socialTitle{
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	padding-bottom:20px;
}
.socialDes{
	/*font-family:HelveticaNeueVnu-Light-1;*/
	font-size:14px;
	color:#363636;
	line-height:140%;
	padding-top:25px;
}
.socialRCol
{
	float:right;
	padding-top:40px;
}
.socialRCol fieldset
{
	text-align:center;
	border:dotted 1px #959595;
	width:275px;
	padding-bottom:12px;
	padding-left:25px;
	padding-right:25px;
}
.socialRCol fieldset legend
{
	font-family: HelveticaNeueVnu-Bold-1;
	font-size:12px;
	color:#555555;
	padding-left:10px;
	padding-right:10px;
}
.socialRCol fieldset img{
	margin-top:10px;
	margin-bottom:10px;
}
.otherLeftCol{
	float:left;
	width:125px;
}
.otherRightCol{
	float:right;
	width:125px;

}
.otherLeftCol a, .otherRightCol a{
		font-family:HelveticaNeueVnu-Light-1;
	font-size:14px;
	color:#363636;
	line-height:130%;
	text-decoration:none;
}
.socialProductBlock{
	width:100%;
	border:solid 1px #d9d9d9;
	padding:0px 0px;
	margin-bottom:120px;
overflow: hidden;
}
.social_1{
	float:left;
	border-right:solid 1px #d9d9d9;
	width:49%;
	text-align:center;

}
.social_2{
	float:right;
	width:49%;
	text-align:center;
}
.socialProductTitle{
	font-family: HelveticaNeueVnu-Bold-1;
	color:#00acd4;
	font-size:14px;
	padding-top:20px;
text-transform: uppercase;
	padding-bottom:30px;
}
.social_1 img, .social_2 img{
	margin-bottom:25px;
}

.footer{
	
	width:100%;
	bottom:0px;
}