@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;
	
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;	
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------Col setting---------------*/
.mediaLCol{
	width:610px;
	min-height:180px;
	padding-top:30px;
	padding-left:255px;
	background-image:url(../image/product_media/mediaThumb.png);
	background-repeat:no-repeat;
	background-position:top 22px left;
	float:left;
}
.mediaTitle{
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	padding-bottom:20px;
}
.mediaDes{
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
	padding-top:25px;
}
.mediaRCol
{
	float:right;
	padding-top:40px;
}
.mediaRCol fieldset
{
	text-align:center;
	border:dotted 1px #959595;
	width:280px;
	padding-bottom:12px;
	padding-left:23px;
	padding-right:23px;
}
.mediaRCol fieldset legend
{
	font-family: HelveticaNeueVnu-Bold-1;
	font-size:12px;
	color:#555555;
	padding-left:10px;
	padding-right:10px;
}
.mediaRCol fieldset img{
	margin-top:10px;
	margin-bottom:10px;
}
.otherLeftCol{
	float:left;
	width:125px;
}
.otherRightCol{
	float:right;
	width:125px;

}
.otherLeftCol a, .otherRightCol a{
		font-family:HelveticaNeueVnu-Light-1;
	font-size:14px;
	color:#363636;
	line-height:130%;
	text-decoration:none;
}
.mediaProductBlock{
	
	border:solid 1px #d9d9d9;
	padding:0px 0px;
	margin-bottom:60px;
	padding-left:10px;
	padding-right:10px;
overflow:hidden;
}
.media_1{
	float:left;
	width:33%;
	text-align:center;
}
.media_2{
	float:left;
	border-left:solid 1px #d9d9d9;
	width:33%;
	text-align:center;
	
}
.media_3{
	float:left;
	border-left:solid 1px #d9d9d9;
	width:33%;
	text-align:center;
}
.mediaProductTitle{
	font-family: HelveticaNeueVnu-Bold-1;
	color:#00acd4;
	font-size:14px;
	padding-top:10px;
	padding-bottom:10px;
text-transform: uppercase;
}
.media_1 img, .media_2 img, .media_3 img, .media_4 img{
	margin-bottom:20px;
}
.media_1 img{
	
	margin-top:20px;
}
.media_2 img{
	margin-top:20px;
	padding-bottom:10px;
}
.media_3 img{
	margin-bottom:15px;
}
.media_4 img{
	margin-top:15px;
}
.hrzDivider2{
	width:100%;
	height:1px;
	border-bottom:solid 1px #d9d9d9;
	padding-top:10px;
	
}
/*----------game online-------------*/
.gameOnlineProduct{
	text-align:center;
}
.gameOnlineLCol{
	float:left;
	width:355px;
	padding-left:70px;
	padding-right:90px
}
.gameOnlineRCol{
	float:right;
	width:440px;
	text-align:left;
	padding-right:40px;
	font-family:HelveticaNeueVnu-Light-1;
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.gameOnlineItem_1
{
	float:left;
}
.gameOnlineItem_2
{
	float:right;
}
.hrzDivider3{
	background-image:url(../image/product_media/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	width:100%;
	height:1px;
	margin-top:30px;
	margin-bottom:25px;
}
/*------------product rate----------------*/
.rateLCol{
	float:left;
	width:455px;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	padding-left:30px;
	text-align:left;
}
.rateRCol{
	float:right;
	width:460px;
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	line-height:140%;
	color:#363636;
	padding-right:50px;
	text-align:left;
}
.rateTitle{
	text-align:left;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#f05a22;
	padding-left:50px;
	padding-bottom:5px;
	padding-top:30px;
	font-weight: bold;
}
.rateCap{
	text-align:left;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:13px;
	font-style:italic;
	color:#898989;
	padding-left:50px;
	padding-bottom:10px;
}
.rateItem{
	padding-left:20px;
}
.itemLogo{
	float:left;
	width:68px;
	height:91px;
	cursor:pointer;
}
.itemDes{
	float:right;
	width:350px;
}
.itemDes h4{
	font-family: HelveticaNeueVnu-Bold-1;
	font-size:14px;
}
.rateRow_1{
	padding-top:20PX;
	padding-bottom:15px;
}
.rateRow_2{
	padding-top:15px;
	padding-bottom:12px;
}
.rateItem_1
{

}
.rateItem_2
{

}
.item2_popup{
	
	float:right;
	
}
.popup2Arrow{
	width:100%;
	height:8px;
	background-image:url(../image/product_media/arrow.png);
	background-repeat:no-repeat;
	background-position:top 0px left 100px;
}
.item2_popupContent{
	width:513px;
	background-color:#f3f3f3;
	margin-right:-10px;
}
.popup2LCol{
	float:left;
	text-align:center;
	width:49.5%;
	border-right:solid 1px #d9d9d9;
	height:118px;
	margin-top:10px;
	padding-top:20px;
}
.popup2RCol{
	float:right;
	text-align:center;
	width:50%;
	height:118px;
	margin-top:10px;
	padding-top:20px;
	
}
.popup3Arrow{
	width:100%;
	height:8px;
	background-image:url(../image/product_media/arrow.png);
	background-repeat:no-repeat;
	background-position:top 0px left 130px;
}
.item3_popupContent{
	width:433px;
	height:123px;
	background-color:#f3f3f3;
	margin-left:50px;
	padding-top:35px;
	text-align:center;
}

.popup4Arrow{
	width:100%;
	height:8px;
	background-image:url(../image/product_media/arrow.png);
	background-repeat:no-repeat;
	background-position:top 0px right 385px;
}
.item4_popupContent{
	width:1022px;
	background-color:#f3f3f3;
	margin-left:-10px;
	text-align:center;
}
.popup4Item{
	float:left;	
	width:24.8%;
	padding-top:10px;
	
}
.hrzLineDivider{
	width:232px;
	height:1px;
	border-bottom:solid 1px #d9d9d9;
	margin-left:10px;
	margin-right:10px;
	margin-top:10px;

}
.vertLineDivider{
	float:left;
	width:1px;
	height:140px;
	border-right:solid 1px #d9d9d9;
	margin-top:10px;
	margin-bottom:10px;
}
#popup_2{
	display:none;
}
#popup_3{
	display:none;
}
#popup_4{
	display:none;
}
#productRate, #productNote, #hiddenDivider{
	display:none;
}


/*------------product note----------------*/
.noteLCol{
	float:left;
	width:455px;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	padding-left:30px;
	text-align:left;
}
.noteRCol{
	float:right;
	width:460px;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	line-height:140%;
	color:#363636;
	padding-right:50px;
	text-align:left;
}
.noteTitle{
	text-align:left;
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#f05a22;
	padding-left:50px;
	padding-bottom:10px;
	font-weight: bold;
}
.footer{
	
	width:100%;
	bottom:0px;
}