<?php
$this->head->prependCss('/layouts/web/css/style.css?v=1.1');
$this->head->prependJs('/layouts/web/js/all.min.js?v=1.1');
$this->doctype('XHTML1_RDFA');

// metadata
$meta = My_View_Meta::getMeta($this);

if (isset($meta['title'])) {
    $this->headTitle($meta['title']);
}

if (isset($meta['description'])) {
    $this->headMeta()->appendName('description', $meta['description']);
}

if (isset($meta['keywords'])) {
    $this->headMeta()->appendName('keywords', $meta['keywords']);
}

if (isset($meta['properties'])) {
    foreach ($meta['properties'] as $key => $value) {
        $this->headMeta()->setProperty($key, $value);
    }
}
header('Content-Type: text/html; charset=utf-8');
header('X-UA-Compatible: IE=edge,chrome=1');
?><!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="vi" http-equiv="content-language">
    <?php echo $this->headTitle()?>
    <meta content="index,follow" name="robots">
	<meta content="1days" name="revisit-after">
	<meta content="DtbGTZGPJ1eV8AyK7qHiqAqkNYk8VvuPF5mkIsfXA2c" name="google-site-verification">
	<meta content="https://img.zing.vn/vng/skin/vng-2014/image/vng-logo-share-v2.jpg" property="og:image">
    <link href="https://img.zing.vn/vng/skin/homepage16062010/images/icon_fav_vng.ico" rel="shortcut icon">
    <?php echo $this->headMeta()?>
    <?php echo $this->headLink()?>

    <!--[if lt IE 9]><script src="/layouts/v4/js/css3-mediaqueries.js"></script><![endif]-->
    <?php echo $this->headScript()?>


    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1"></script><script type="text/javascript" async="" src="https://www.google-analytics.com/ga.js"></script>
    <!-- Add fancyBox -->
    <link media="screen" type="text/css" href="https://img.zing.vn/vng/skin/vng-2014/fancybox/jquery.fancybox.css?v=2.1.5" rel="stylesheet">
    <link rel="stylesheet" href="//img.zing.vn/vng/skin/vng-2014/fancybox/jquery-ui.css">
    <script src="https://img.zing.vn/vng/js/zingme.js" type="text/javascript"></script>
    <script src="https://img.zing.vn/vng/js/ga-vng.js" type="text/javascript"></script>

    <style>
.hrRColCarousel {
float: right;
background-color: #f3f3f3;
width: 310px;
padding-left:2px;


}
.hrMidCol { min-height: 600px; }
</style>
<style type="text/css">.fancybox-margin{margin-right:17px !important;}</style>
<style type="text/css">

#applyBtnReg {

background-color: #00acd4;
border: none;
color: #FFF;
cursor: pointer;
font-weight: bold;
font-size: 12px;
padding: 8px 10px;
text-decoration: none;
font-family: Tahoma;
}

.hrCol {

    margin-bottom: 90px !important;
}
</style>

<?php echo $this->headLink()?>
<?php echo $this->headScript()?>
</head>
<body  class="page-<?php echo $this->controllerName?> page-<?php echo $this->controllerName?>-<?php echo $this->actionName?>" data-controller="<?php echo $this->controllerName?>" data-action="<?php echo $this->actionName?>">
    <?php include '_header.php'; ?>
    <?php echo $this->layout()->content?>
    <?php include '_footer.php'; ?>
</body>
</html>
