<!-----------FAQ---- -->
<div class="hrFaq" style="margin-top: 20px">
	<h4>
		<span style="border-bottom:solid 2px #f05a22">HỎ</span>I ĐÁP
	</h4>
	<p>
		Bạn có thắc mắc muốn hỏi, xin tham khảo mục hỏi đáp
	</p>
	<a href="/danh-cho-sinh-vien/hoi-dap#list" class="readmore">&gt; XEM TIẾP</a>
	<div class="clearFloat">&nbsp;</div>
	<!--end clearFloat -->
</div>
<!--end hrFaq -->