<?php
    $interface =  $this->program[0]->face_typical_ids;
    $title = $this->program[0]->menu_face;
 ?>
<!-- Begin module recruitment - cmVjcnVpdG1lbnR8NDk1fGd1b25nLW1hdC1mcmVzaGVy -->        <!-- Example assets -->
        <link rel="stylesheet" type="text/css" href="//img.zing.vn/vng/skin/vng-2014/jcarousel/jcarousel.basic.css">

     <div class="hrFresherFace">
      <h4 style="padding-left:30px">
      <span style="border-bottom:solid 2px #f05a22"><?php echo strtoupper(mb_substr($title,0,2,'UTF-8')) ?></span><?php echo strtoupper(mb_substr($title,3));
        ?>
      </h4>

            <div class="jcarousel-wrapper">
                <div class="jcarousel" data-jcarousel="true">
                    <ul style="left: 0px; top: 0px;">
                        <?php foreach ($interface as $key => $speaker):?>
                        <li>
                          <div class="hrFresherFaceThumb">
                            <img width="230" height="154" src= "<?php echo 'data:image/jpeg;base64,'.$speaker->image?>">
                          </div>
                          <div class="hrFresherFaceTitle">
                            <?php echo $speaker->name ?><br>
                          </div>
                          <div class="hrFresherFaceText">
                            <span style="font-family:'Times New Roman'; font-size:25px">“</span>
                           <?php echo $speaker->content?>
                          </div>
                        </li>
                      <?php endforeach;?>
                    </ul>
                </div>



                <a href="#" class="jcarousel-control-prev inactive" data-jcarouselcontrol="true">‹</a>
                <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                 <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2">2</a><a href="#3">3</a></p>

            </div>

      </div><!--end fresherFace -->
<style>

.hrFresherFaceText {
width: 225px;
}
.jcarousel li {
width: 230px;
}
.hrFresherFace {
margin-top: 0;
}
h4 {
font-family: UnisectVnu-Bold-1;
padding: 20px;
}
</style>
<!-- End module recruitment -->

