<div class="clearFloat"></div>
<!--end clearFloat -->
<div class="hr_other">
    <h4>
        <span style="border-bottom:solid 2px #f05a22">CH</span>ƯƠNG TRÌNH KHÁC
    </h4>
    <?php foreach ($this->program[0]->other_program_ids as $key => $other) :
    	$slug = Utility_Unicode::toSlug($other->id.' '.$other->name);
    ?>
    <a href="/danh-cho-sinh-vien/<?php echo $slug?>"><?php echo strtoupper($other->name)?></a><br>
	<?php endforeach;?>
<!-- 	 <a href="http://www.vng.com.vn/vn/danh-cho-sinh-vien/chuong-trinh-internship/gioi-thieu.html">CHƯƠNG TRÌNH INTERNSHIP</a>
	<a href="http://hrs.vng.com.vn/hrs/vn/hoithao/gioi-thieu-hoi-thao.html">CHƯƠNG TRÌNH HỘI THẢO</a><br>
    <a href="http://www.vng.com.vn/vn/danh-cho-sinh-vien/vng-tour.html">CHƯƠNG TRÌNH VNG TOUR</a> -->

</div>
<!--end hrOther -->