<?php if (isset($this->paginator)): ?>
    <div class="page jobPageNav">
        <?php if (isset($this->paginator->pageCount) && $this->paginator->pageCount > 1): ?>
        <a href="<?php printf($this->paginator->pageLink, $this->paginator->first)?>" class=" page <?php if ($this->paginator->current == $this->paginator->first) echo 'pageActive'; ?>">&laquo;</a>
        <?php foreach ($this->paginator->pagesInRange as $page): ?>
        <a href="<?php printf($this->paginator->pageLink, $page)?>" class=" page <?php if ($this->paginator->current == $page) echo 'pageActive'; ?>"><?php echo $page?></a>
        <?php endforeach; ?>
        <a href="<?php printf($this->paginator->pageLink, $this->paginator->last)?>" class=" page <?php if ($this->paginator->current == $this->paginator->last) echo 'pageActive'; ?>">&raquo;</a>
        <?php endif; ?>
    </div>
<?php endif; ?>