<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle($this->program[0]->name);
    $this->headMeta()->appendName('keywords', 'Gioi thieu, VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', $this->program[0]->short_description);
    $this->headMeta()->setProperty('og:title',                  $this->program[0]->name);
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description',            $this->program[0]->short_description);

?>
<div class="content">
        <div id="list"></div>
        <div class="container contentContainer">
            <?php echo $this->render('part/student/leftcol.phtml');?>

            <div class="hrCol hrMidCol">
                <!-- Begin module article - YXJ0aWNsZXw1MjN8dm5fdm5nLWZyZXNoZXI -->
                <div class="hrBlock">


                    <div class="hrText">
                       <?php echo $this->program[0]->description;?>
                    </div><!--end hrText -->

                    <div class="clearFloat"></div><!--end clearFloat --><br>


                    <!--------------------------hr submit------------------- -->
                    <div class="hrSubmit"  style="display: none">
                        <div class="hrzLine"></div><!--end hrzLine -->
                        <p>Chia sẻ:</p>
                        <div class="hrBtn">
                            <ul>
                                <li>
                                   <a href="#divForm" title="Đăng ký" class="various" id="applyBtnReg"> ĐĂNG KÝ </a>
                                </li>
                                <li>
                                    <a class="SendFriend various" title="GIỚI THIỆU CHO BẠN BÈ" data-fancybox-type="iframe" id="sendFriend" href="https://www.vng.com.vn/chia-se/index.html?linkSend=http:<?php echo $_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']?>"> GIỚI THIỆU CHO BẠN BÈ </a>
                                </li>

                            </ul>
                        </div><!--end hrBtn -->
                        <div class="hrShare">
                        <?php //$url = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
                              $url = 'http://fresher.vng.com.vn/'; ?>
                            <ul>
                                <li>
                                    <a class="zm_share" data-title="<?php echo $this->program[0]->name?>" data-desc="<?php echo urlencode($this->program[0]->description) ?>" href="javascript:void(0)" data-type="zing" ><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/zingLogo.png" width="24" height="24"></a>
                                </li>
                                <li>
                                    <a class="zm_share"data-title="<?php echo $this->program[0]->name?>" data-desc="<?php echo urlencode($this->program[0]->description) ?>"  href="javascript:void(0)" data-type="fb" ><img width="24" height="24" src="https://img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/facebookLogo.png"></a>
                                </li>
                                <li>
                                    <a class="zm_share" data-title="<?php echo $this->program[0]->name?>" data-desc="<?php echo urlencode($this->program[0]->description) ?>" href="javascript:void(0)" data-type="linke"  rel="nofollow"  id="shareLinke"> <img border="0" alt="Share on LinkedIn" title="Share on LinkedIn" src="https://img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/linkedinLogo.png"></a>
								</li>
                            </ul>
                        </div><!--end hrShare -->
                    </div><!--end hrSubmit -->

                    <div id="divForm" style="display:none">
                            <?php echo $this->render('part/register.phtml');?>
                    </div>

                    <div class="clearFloat">&nbsp;</div><!--end clearFloat -->
                </div><!--end hrBlock --><!-- End module article -->

            </div>
            <!--end hrMidCol -->
            <?php echo $this->render('part/student/rightcol.phtml');?>

            <!--end clearFloat --> </div>
        <!--end contentContainer --> </div>
    <!--end content -->
    <script>
    var recruit_program = <?php echo json_encode($this->program[0])?>;
    </script>
