
<!-- Begin module recruitment - cmVjcnVpdG1lbnR8NTA0fGRhbmcta3ktdm5nLWludGVybnNoaXA -->
<div class="Popup">
    <div class="hr_reg">
      <div class="hrRegForm">
      <p></p>
        <form name="register"  method="post" id="frmRegister" enctype="multipart/form-data">
            <thead><div style="margin:10px;color:red;font-weight:bold" id="form_error"></div></thead>
            <table width="auto" border="0" cellspacing="0" cellpadding="0" id="tbody" style="text-align:left">
                <tbody id="member_info"></tbody>
                <tbody id="member_question" style="display:none"></tbody>
            </table>

        </form>
        <div style="color:red">
           <img src="/layouts/web/img/hotline.png" width="35px" style="position:absolute;margin-left:-40px;margin-top:-10px" /><span><span style="color:#000;">Khi cần hỗ trợ đăng ký vui lòng liên hệ: </span>
           <span style="font-weight:bold;margin-left:5px"> 0986 001 010 <span style="margin-left:5px;">hoặc<span> <span style="margin-left:5px;">0935 773 969</span></span>

        </div>
      </div><!--end hrRegForm -->
    </div><!--end hrReg -->
</div>
<div class="message">
</div>
 <script>

//  $(document).ready(function() {
//      var events = <?php echo json_encode($this->event);?>;
//     for(i=0 ; i < events.renderform.length; i++){
//         $("#member_info").append(events.renderform[i]);
//     }

//     for(i=0 ; i < events.questionform.length; i++){
//               $("#member_question").append(events.questionform[i]);
//           }

//     var d = new Date();
//     var n = d.getFullYear()-14;
//     var strYear="1950:"+n;

//     if ( $( ".datepicker" ).length > 0 ){
//         $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy',yearRange: strYear,changeMonth: true,changeYear: true,defaultDate: '01/01/1950'}).val();
//     }

//     var file_required = $('.file[data-required="required"]');
//     if(file_required.length > 0){
//         $('#reg_btn_next').css('background-color','rgb(207, 207, 207)');
//         $('#reg_btn').css('background-color','rgb(207, 207, 207)');

//     }
//  });
</script>