<div class="hrTitle">
                <a href="javascript:void(0)" onclick="window.location.reload(true);">
                <span style="border-bottom:solid 2px #00acd4">CH</span>ƯƠNG
                <?php echo strtoupper(substr($this->program[0]->name,8))?></a>
                <div class="clearFloat"></div>
                <!--end clearFloat --> </div>
            <!--end hrTitle -->
            <div class="hrCol hrLCol" style="padding-top:0">
                <div class="hrBlock">
                    <div class="hrMajor">
                        <!-- Begin block semina vng - MTk2NTN8MjQ5fHJlY3J1aXRtZW50fDUyM3x2bl92bmctZnJlc2hlcnxmcmVzaGVyfFBIUA -->
                        <div class="hrMajorList">
                        <ul>
                            <?php foreach ($this->program[0]->program_event_ids as $i => $event):?>
                            <li class="program_event" data-id="<?php echo $event->id?>"><a href="javascript:void(0)"><?php echo $event->name;?></a></li>
                        <?php endforeach;?>
                            <?php foreach ($this->program[0]->program_content_ids as $j => $content) :?>
                                <br/>
                                <a class="hrMajor_title program_content" href="javascript:void(0)" id="title_phucloi" data-key="<?php echo $j?>"><?php echo strtoupper($content->name)?></a>
                        <?php endforeach;?>

                        </ul>
                        </div><!--end hrMajorList -->
                       <!-- End block semina VNG -->

                 </div>
                    <!--end hrMajor --> </div>
                <!--end hrBlock -->
            </div>
            <!-- en hrLCol -->