<div style="margin-bottom:0" class="hrRColCarousel">
    <!--
    <iframe width="310" height="650" frameborder="0" src="https://www.vng.com.vn/guong-mat-fresher"></iframe>
    -->
   <div>
       <?php
       if(isset($this->program[0]->face_typical_ids) && count($this->program[0]->face_typical_ids) > 0) echo $this->render('part/interface.phtml');
       ?>
   </div>
</div>
<div class="hrCol hrRCol">
    <?php echo $this->render('part/other_program.phtml'); ?>
</div>
<!--end hrRCol -->

<div class="clearFloat"></div>