<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle($this->life_item->name);
    $this->headMeta()->appendName('keywords', 'Gioi thieu,  vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', $this->life_item->short_description);
    $this->headMeta()->setProperty('og:title',                  $this->life_item->name);
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description',            $this->life_item->short_description);

?>

<div class="hrBannerEnvi" id="#list">
	<div class="container homeBannerContainer">
		<div class="homeBannerTitle">
			<p>VNG có hơn 1,800 thành viên <br> làm việc tại 3 thành phố lớn <br> của Việt Nam phục vụ hơn 30 triệu <br> khách hàng.</p>
		</div> <!--end homeBannerTitle -->
		<div class="divLine" id="list">&nbsp;</div> <!--end divLine -->
	</div>
</div>

<div class="container contentContainer enviroment" style="margin-bottom: 120px;">
	<div class="hrLifeTitle"><span style="border-bottom:solid 2px #00acd4"></span><?php echo strtoupper($this->life_item->name)?></div> <!--hen hrTitle -->
	 <?php echo $this->life_item->description;?>
	  <div class="clearFloat">&nbsp;</div> <!--end clearFloat -->
  </div>