<div class="hrBanner hrBanner_moiTruong">
	<div class="container homeBannerContainer">
		<div class="homeBannerTitle">
			<p>VNG có hơn 1,800 thành viên <br> làm việc tại 3 thành phố lớn <br> của Việt Nam phục vụ hơn 30 triệu <br> khách hàng.</p>
		</div> <!--end homeBannerTitle -->
		<div class="divLine" id="list">&nbsp;</div> <!--end divLine -->
	</div>
</div>

<div class="container contentContainer" style="margin-bottom: 120px;">
	<div class="hrLifeTitle"><span style="border-bottom:solid 2px #00acd4">MÔ</span>I TRƯỜNG</div> <!--hen hrTitle -->
	<!---------------block 1 -------------->
	<div class="enviCol enviLCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/1.png)">Không com-lê, không cà-vạt</h4> <p>Ở đây chúng tôi không có nhiều qui định vì chúng tôi tôn trọng bạn và muốn bạn cảm thấy thoải mái để thực hiện tốt công việc của mình.</p></div>
	 <!--end enviLCol -->
	<div class="enviCol enviRCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/2.png)">Được công ty “bao”</h4> <p>Khi ăn trưa, gửi xe, đi bơi, học Anh văn hay tập gym miễn phí bạn biết mình thực sự được quan tâm.</p></div>
	<!--end enviRCol -->
	<div class="clearFloat">&nbsp;</div> <!--end clearFloat -->
	<!---------------block 2 -------------->
	<div class="enviCol enviLCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/3.png)">Không tường rào</h4> <p>Văn phòng VNG là một không gian mở vì chúng tôi luôn cố gắng xóa bỏ mọi rào cản để các thành viên dễ dàng chia sẻ với nhau hơn.</p></div>
	<!--end enviLCol -->
	<div class="enviCol enviRCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/4.png)">Được một gia đình lớn</h4> <p>Quà ngày Tết, tiệc buffet cho các phụ huynh, hội Trung thu cho con trẻ. Gia đình của bạn cũng vui khi bạn là người VNG.</p></div>
	<!--end enviRCol -->
	<div class="clearFloat">&nbsp;</div> <!--end clearFloat -->
	<!------------------block 3 ---------------> <div class="enviCol enviLCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/5.png); padding-left:50px;">Không cấp bậc</h4> <p>Ở VNG, các thành viên đều được khuyến khích đóng góp ý kiến và tranh luận.</p></div> <!--end enviLCol -->
	<div class="enviCol enviRCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/6.png)">Được khám phá</h4> <p>Tiến sĩ khoa học, kẻ không học vị, cô nàng mọt sách, nhà thiết kế thời trang… Người VNG không ai giống ai và điều đó làm cuộc sống thêm màu sắc.</p></div>
	 <!--end enviRCol -->
	<div class="clearFloat">&nbsp;</div> <!--end clearFloat -->
	<!---------------block 4 -------------->
	<div class="enviCol enviLCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/7.png)">Không “office”</h4> <p>Văn phòng cũng là nhà. Bạn có thể treo tranh, trồng cây, thậm chí nuôi cá cảnh ngay trên bàn làm việc.</p></div>
	<!--end enviLCol -->
	<div class="enviCol enviRCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/8.png)">Được hết mình</h4> <p>Người VNG thích “hành xác” với các trò chơi tập thể: leo Fansipan, chèo thuyền vượt thác, đi qua thảm lửa vừa là cách thắt chặt tình đồng đội vừa để rèn luyện bản lĩnh của mỗi người.</p></div>
	<!--end enviRCol -->
	 <div class="clearFloat">&nbsp;</div>
	 <!--end clearFloat -->        <!---------------block 5 -------------->
	 <div class="enviCol enviLCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/9.png)">Được chơi game</h4> <p>Kể cả khi bạn không làm game, hái trộm cà trong vườn của sếp hay tỉ thí kiếm thuật với đồng nghiệp online cũng là cách thú vị để giải lao.</p></div>
	 <!--end enviLCol -->
	  <div class="enviCol enviRCol"><h4 style="background-image:url(//img.zing.vn/vng/skin/vng-2014/image/hr_environment/10.png)">Được thay đổi thế giới</h4> <p>Tạo ra một kênh giải trí, xây dựng mạng xã hội hay phát triển một trò chơi. Với Internet, mỗi việc bạn làm đều có thể mang lại thay đổi cho cuộc sống của rất nhiều người.</p></div> <!--end hrRCol -->
	  <div class="clearFloat">&nbsp;</div> <!--end clearFloat -->
  </div>