<div class="hrBannerEnvi">
	<div class="container homeBannerContainer">
		<div class="homeBannerTitle">
			<p>
				VNG là&nbsp;nơi làm việc tốt nhất trong ngành
				<br>
				Internet, thương mại điện&nbsp;tử&nbsp;với&nbsp;cơ&nbsp;sở
				<br>
				vật chất khang trang, điều kiện làm việc
				<br>
				lý tưởng, những sự đãi ngộ tốt&nbsp;nhất.
			</p>
		</div>
		<!--end homeBannerTitle -->
		<div class="divLine" id="list">&nbsp;</div>
		<!--end divLine -->
	</div>
</div>
<div class="container contentContainer">
	<div class="hrLifeTitle">
		<a href="javascript:void(0)" onclick="window.location.reload(true);">
			<span style="border-bottom:solid 2px #00acd4">CU</span>ỘC SỐNG VNG
		</a>
	</div>
	<!--hen hrLifeTitle -->
<?php foreach ($this->life as $key => $item):?>
	<div class="hrLifeCol <?php echo (($key%2) == 0)?'hrLifeLCol':'hrLifeRCol'?>">
		<h4>
			<a href="/cuoc-song-vng/<?php echo $item->id?>-<?php echo Utility_Unicode::toSlug($item->name) ?>#list"><?php echo strtoupper($item->name)?></a>
		</h4>
		<p>
			<?php echo $item->short_description?>
		</p>
		<a href="/cuoc-song-vng/<?php echo $item->id?>-<?php echo Utility_Unicode::toSlug($item->name) ?>#list">&gt; XEM TIẾP</a>
	</div>
<?php endforeach?>
	<div class="clearFloat">&nbsp;</div>
	<!--end clearFloat -->
</div>