<div class="hrBanner">
	<div class="container homeBannerContainer">
		<div class="homeBannerTitle">
			<p>
				VNG luôn trao cơ hội cho các bạn trẻ
				<br>
				sẵn sàng đón nhận thách thức
				<br>
				và thể hiện  sự đam mê
				<br>
				với nghề nghiệp.
			</p>
		</div>
		<div id="list" class="divLine">&nbsp;</div>
		<!--end divLine -->
	</div>
	<!--end homeBannerTitle -->
</div>

<div class="container contentContainer">
	<div class="hrTitle">
		<span style="border-bottom:solid 2px #00acd4">DÀ</span>
		NH CHO SINH VIÊN
	</div>
	<!--end hrTitle -->
	<div class="recruitCol">
		<?php echo $this->message;?>

	</div>
	<!--end hrLCol -->
	<div class="hrCol hrRCol">
		<div class="hr_reg">
			  <h4>ĐĂNG KÝ NHẬN TIN<br>
		        <span style="border-bottom:solid 2px #f05a22">QU</span>A EMAIL</h4>

		      <div class="hrRegForm">
				<p class="Critical" id="msg_sucss"></p>
				    <form name="register" action="" method="post" id="frmRegisterReceive">
			            <table width="auto" border="0" cellspacing="0" cellpadding="0">
						  <tbody><tr>
						    <td>
						    	<input type="text" name="name" id="regName" data-error="Vui lòng nhập vào họ tên" value="" placeholder="Họ và tên">
								<p class="Critical" id="msg_full_name" ></p>
						    </td>
						  </tr>
						  <tr>
						    <td><input type="text" name="email" id="regEmail" value="" data-error="Vui lòng nhập email"  placeholder="Email">

						    <p class="Critical" id="msg_email" ></p>
						  </td>
						  </tr>

						</tbody></table>
						<table width="auto" border="0" cellspacing="0" cellpadding="0" id="tb_checkbox" data-error="Chưa chọn chương trình muốn nhận tin">
						  <tbody><tr>
						    <td><input type="checkbox" name="chk[]" id="fresher" value="FRESHER"> <label for="fresher"> <span> </span>VNG Fresher</label> </td>

						  </tr>

						 <tr>
						    <td><input type="checkbox" name="chk[]" id="internship" value="INTERNSHIP"> <label for="internship"><span> </span>Internship</label> </td>

						  </tr>
						<tr>
						    <td><input type="checkbox" name="chk[]" id="vngTour" value="TOUR"><label for="vngTour"><span> </span>VNG Tour</label>  </td>

						</tr></tbody></table>


						<p class="Critical" id="msg_program" ></p>

						<div class="regBtnCont" style="text-align:center">
							<img class="sloading" src="/layouts/web/img/loading.gif" width="30px" style="display:none;position:absolute;margin-top:-30px;margin-left:10px">
						  	<input id="reg_btn_rc" type="submit" value="ĐĂNG KÝ" class="BtSubmit" title="">
						</div><!--end regBtnCont -->
		        	</form>
		      </div><!--end hrRegForm -->
		</div>
		<!--end hrReg -->
		<!-----------FAQ---- -->
		<div class="hrFaq" style="margin-top: 20px">
			<h4>
				<span style="border-bottom:solid 2px #f05a22">HỎ</span>I ĐÁP
			</h4>
			<p>
				Bạn có thắc mắc muốn hỏi, xin tham khảo mục hỏi đáp
			</p>
			<a href="/vn/chuong-trinh-cho-sinh-vien/hoi-dap.html#list" class="readmore">&gt; XEM TIẾP</a>
			<div class="clearFloat">&nbsp;</div>
			<!--end clearFloat -->
		</div>
		<!--end hrFaq -->
	</div>
	<!--end hrRCol -->
	<div class="clearFloat">&nbsp;</div>
	<!--end clearFloat -->
</div>