<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle($this->program[0]->name);
    $this->headMeta()->appendName('keywords', 'Gioi thieu, VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', $this->program[0]->short_description);
    $this->headMeta()->setProperty('og:title',                  $this->program[0]->name);
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description',            $this->program[0]->short_description);

?>
<div class="content">
        <div id="list"></div>
        <div class="container contentContainer">
            <?php echo $this->render('part/student/leftcol.phtml');?>

            <div class="hrCol hrMidCol">
                <!-- Begin module article - YXJ0aWNsZXw1MjN8dm5fdm5nLWZyZXNoZXI -->
                <div class="hrBlock">


                    <div class="hrText">
                       <?php echo $this->event->description;?>
                    </div><!--end hrText -->

                    <div class="clearFloat"></div><!--end clearFloat --><br>


                    <!--------------------------hr submit------------------- -->
                    <div class="hrSubmit"  style="display: <?php echo (isset($this->event->render_form) && count($this->event->render_form) >0)?'block':'none'?>">
                        <div class="hrzLine"></div><!--end hrzLine -->
                        <p>Chia sẻ:</p>
                        <div class="hrBtn">
                            <ul>
                                <li>
                                   <a href="#divForm" title="Đăng ký" class="various" id="applyBtnReg"> ĐĂNG KÝ </a>
                                </li>
                                <li>
                                    <a class="SendFriend various" title="GIỚI THIỆU CHO BẠN BÈ" data-fancybox-type="iframe" id="sendFriend" href="https://www.vng.com.vn/chia-se/index.html?linkSend=http:<?php echo $_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI']?>"> GIỚI THIỆU CHO BẠN BÈ </a>
                                </li>

                            </ul>
                        </div><!--end hrBtn -->
                        <div class="hrShare">
                        <?php //$url = 'http://'.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];
                              $url = 'http://fresher.vng.com.vn/'; ?>
                            <ul>
                                <li>
                                    <a class="zm_share" onclick="popupCenter('http://link.apps.zing.vn/pro/view/conn/share?u=<?php echo $url?>&t=<?php echo $this->program[0]->name?>&desc=VNG%20Fresher%20l%C3%A0%20ch%C6%B0%C6%A1ng%20tr%C3%ACnh%20%C3%90%C3%A0o%20T%E1%BA%A1o%20%26%20Tuy%E1%BB%83n%20D%E1%BB%A5ng%20do%20VNG%20t%E1%BB%95%20ch%E1%BB%A9c%20d%C3%A0nh%20cho%20sinh%20vi%C3%AAn%20n%C4%83m%20cu%E1%BB%91i%20t%E1%BA%A1i%20c%C3%A1c%20tr%C6%B0%E1%BB%9Dng%20%C3%90%E1%BA%A1i%20h%E1%BB%8Dc%20t%E1%BA%A1i%20Vi%E1%BB%87t%20Nam%0A%20%20%20%20&images=https://img.zing.vn/vng/skin/vng-2014/image/vng-logo-share-v2.jpg', 'Zingme share')"><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/zingLogo.png" width="24" height="24"></a>
                                </li>
                                <li>
                                    <a class="zm_share" onclick="popupCenter('http://www.facebook.com/sharer/sharer.php?u=<?php echo $url?>&t=<?php echo $this->program[0]->name?>', 'Facebook share')"><img width="24" height="24" src="https://img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/facebookLogo.png"></a>
                                </li>
                                <li>
                                    <a class="zm_share" onclick="popupCenter('https://www.linkedin.com/shareArticle?mini=true&amp;title=<?php echo $this->program[0]->name?>&amp;url=<?php echo $url?>&amp;summary=VNG%20Fresher%20l%C3%A0%20ch%C6%B0%C6%A1ng%20tr%C3%ACnh%20%C3%90%C3%A0o%20T%E1%BA%A1o%20%26%20Tuy%E1%BB%83n%20D%E1%BB%A5ng%20do%20VNG%20t%E1%BB%95%20ch%E1%BB%A9c%20d%C3%A0nh%20cho%20sinh%20vi%C3%AAn%20n%C4%83m%20cu%E1%BB%91i%20t%E1%BA%A1i%20c%C3%A1c%20tr%C6%B0%E1%BB%9Dng%20%C3%90%E1%BA%A1i%20h%E1%BB%8Dc%20t%E1%BA%A1i%20Vi%E1%BB%87t%20Nam%0A%20%20%20%20','mywindow');return false" rel="nofollow"  id="shareLinke"> <img border="0" alt="Share on LinkedIn" title="Share on LinkedIn" src="https://img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/linkedinLogo.png"></a>
								</li>
                            </ul>
                        </div><!--end hrShare -->
                    </div><!--end hrSubmit -->

                    <div id="divForm" style="display:none">
                            <?php echo $this->render('part/register.phtml');?>
                    </div>

                    <div class="clearFloat">&nbsp;</div><!--end clearFloat -->
                </div><!--end hrBlock --><!-- End module article -->

            </div>
            <!--end hrMidCol -->
            <?php echo $this->render('part/student/rightcol.phtml');?>

            <!--end clearFloat --> </div>
        <!--end contentContainer --> </div>
    <!--end content -->
    <script>
    var recruit_program = <?php echo json_encode($this->program[0])?>;
    </script>
