<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle('Hỏi đáp');
    $this->headMeta()->appendName('keywords', 'Hỏi đáp , VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', 'Hỏi đáp , VNG Fresher, vng cuoc song, phuc loi');
    $this->headMeta()->setProperty('og:title',  'Hỏi đáp -' );
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description', 'Hỏi đáp -, VNG Fresher, vng cuoc song, phuc loi');

?>
<div class="content" id="#list">
  <?php echo $this->render('part/job/banner_job.phtml'); ?>
  <div class="container contentContainer">

      <div class="hrTitle">
          <span style="border-bottom:solid 2px #00acd4">HỎI</span> ĐÁP
      </div>
      <!--end hrTitle -->

      <div class="hrCol adviseCol">
          <div class="hrBlock">
            <div class="hrText">
              <?php foreach ($this->awnser as $key => $item) {
                echo $item->description;
              }?>
            </div>
            <!--end hrText --></div>
      </div>
    <!--end hrLCol -->

      <div class="hrCol hrRCol">
          <div class="hr_other">
              <h4>
                  <span style="border-bottom:solid 2px #f05a22">CH</span>ƯƠNG TRÌNH 
              </h4>
              <?php foreach ($this->listProgram as $key => $other) :
                $slug = Utility_Unicode::toSlug($other->id.' '.$other->name);
              ?>
              <a href="/danh-cho-sinh-vien/<?php echo $slug?>"><?php echo strtoupper($other->name)?></a><br>
            <?php endforeach;?>

          </div>
          <!--end hrOther -->
          <?php echo $this->render('part/job/reg_receive.phtml'); ?>
      </div>
      <!--end hrRCol -->

      <div class="clearFloat"></div>
  </div>
 </div>