
<div class="menuright">
	<div class="menu_line1"><!-- --></div>
    <ul>
                          
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/16/chuong-trinh.html"> Chương trình</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/13/thong-tin-niem-yet-co-phieu-nlg.html"> Thông tin niêm yết-Cổ phiếu NLG</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/9/tin-trong-nganh.html"> Tin trong ngành</a></li>                     
        <li><a class="" href="http://namlongvn.com/vn/news/LoadByNewsType/8/tin-noi-bo.html"> Tin nội bộ</a></li> 
        
        <li><a href="http://namlongvn.com/vn/gallery-group.html">Hình ảnh &amp; Phim</a></li>
    </ul>
    <div class="menu_line2"><!-- --></div>
</div>
<div class="group">
    <div class="background_investor">TIN MỚI NHẤT </div>
        <div class="newsdetail">
            <div class="datenewsfd">06-12-2014&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="http://www.doanhnhansaigon.vn/bat-dong-san/3-chinh-sach-moi-cho-thi-truong-bat-dong-san/1085433/">doanh nhân sàigòn</a></font></div>
            <div class="titlefd"><a href="http://namlongvn.com/vn/news/detail/9/266/3-chinh-sach-moi-cho-thi-truong-bat-dong-san.html">3 chính sách mới cho thị trường bất động sản</a></div>
             <img src="http://namlongvn.com/images/line.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>

        <div class="newsdetail">
            <div class="datenewsfd">06-12-2014&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="http://www.doanhnhansaigon.vn/bat-dong-san/3-chinh-sach-moi-cho-thi-truong-bat-dong-san/1085433/">doanh nhân sàigòn</a></font></div>
            <div class="titlefd"><a href="http://namlongvn.com/vn/news/detail/9/266/3-chinh-sach-moi-cho-thi-truong-bat-dong-san.html">3 chính sách mới cho thị trường bất động sản</a></div>
             <img src="http://namlongvn.com/images/line.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>

         <div class="newsdetail">
            <div class="datenewsfd">06-12-2014&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="http://www.doanhnhansaigon.vn/bat-dong-san/3-chinh-sach-moi-cho-thi-truong-bat-dong-san/1085433/">doanh nhân sàigòn</a></font></div>
            <div class="titlefd"><a href="http://namlongvn.com/vn/news/detail/9/266/3-chinh-sach-moi-cho-thi-truong-bat-dong-san.html">3 chính sách mới cho thị trường bất động sản</a></div>
             <img src="http://namlongvn.com/images/line.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>

        <div class="newsdetail">
            <div class="datenewsfd">06-12-2014&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="http://www.doanhnhansaigon.vn/bat-dong-san/3-chinh-sach-moi-cho-thi-truong-bat-dong-san/1085433/">doanh nhân sàigòn</a></font></div>
            <div class="titlefd"><a href="http://namlongvn.com/vn/news/detail/9/266/3-chinh-sach-moi-cho-thi-truong-bat-dong-san.html">3 chính sách mới cho thị trường bất động sản</a></div>
             <img src="http://namlongvn.com/images/line.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>

        <div class="newsdetail">
            <div class="datenewsfd">06-12-2014&nbsp;&nbsp;|&nbsp;&nbsp; <font style="font-family:Arial, Helvetica, sans-serif;color:#666666;padding-left:5px;font-size:11px;text-decoration:underline;"><a target="_blank" href="http://www.doanhnhansaigon.vn/bat-dong-san/3-chinh-sach-moi-cho-thi-truong-bat-dong-san/1085433/">doanh nhân sàigòn</a></font></div>
            <div class="titlefd"><a href="http://namlongvn.com/vn/news/detail/9/266/3-chinh-sach-moi-cho-thi-truong-bat-dong-san.html">3 chính sách mới cho thị trường bất động sản</a></div>
             <img src="http://namlongvn.com/images/line.jpg" border="0" width="228" height="6" align="left" style="padding-left:5px;margin:4px 0px 7px 0px">
        </div>


</div>
