.overlay {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;

    .modal-body {
        position: relative;
        overflow-y: auto;
        max-height: 400px;
        padding: 15px;
        background-color: #fff;
        border-radius:  6px 6px 0 0;
    }
    .model{

        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -150px;
        margin-left: -150px;
        z-index: 1050;
        width: 305px;
        background-color: #fff;
        border: 1px solid #999;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 6px;
        -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.3);
        box-shadow: 0 3px 7px rgba(0,0,0,.3);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        outline: 0;
    }
    .modal-footer {
        padding: 14px 15px 15px;
        margin-bottom: 0;
        text-align: right;
        background-color: #f5f5f5;
        border-top: 1px solid #ddd;
        border-radius: 0 0 6px 6px;
        -webkit-box-shadow: inset 0 1px 0 #fff;
        box-shadow: inset 0 1px 0 #fff;
    }
    .btn {
        display: inline-block;
        padding: 4px 12px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        background-color: #ea721b;
        vertical-align: middle;
        cursor: pointer;
        border-bottom-color: #b3b3b3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
        border: 1px solid #ccc;
        color:#fff;
     }
}
.notice{
    position: absolute;margin-top: -34px;margin-left: 78px;background-color: rgb(142, 158, 147);padding: 6px;width:150px;display:none;
    .progressbar{
        height: 20px;
        border-radius: 3px;
        background-color: #E72D16;
        width: 1%;
    }

}