@charset "utf-8";
/*font embed*/
@font-face {
  font-family: HelveticaNeueVnu-Bold-1;
  src: url(../font/HelveticaNeueVnu-Bold-1.ttf);

}
@font-face {
  font-family: HelveticaNeueVnu-Light-1;
  src:url(../font/HelveticaNeueVnu-Light-1.ttf);
}
@font-face {
  font-family: HelveticaNeueVnu-Roman-1;
  src: url(../font/HelveticaNeueVnu-Roman-1.ttf);
}
@font-face {
  font-family: UnisectHeadlineVnu-1;
  src:url('../font/UnisectHeadlineVnu-1.ttf');
}
@font-face {
  font-family: UnisectHeadlineVnu-Bold-1;
  src:url('../font/UnisectHeadlineVnu-Bold-1.ttf');
}
@font-face {
  font-family: UnisectVnu-1;
  src:url('../font/UnisectVnu-1.ttf');
}
@font-face {
  font-family: UnisectVnu-Bold-1;
  src:url('../font/UnisectVnu-Bold-1.ttf');
}
@font-face {
  font-family: UTMNeoSansIntel;
  src: url("../intro/font/UTM-Neo-Sans-Intel.ttf");
}
