@charset "utf-8";
.topHeader{
	height:125px;
	background-color:#FFF;
	
}
.topHeadBlock{
	float:left;
}
.topHeadLeft{
	padding-top:10px;
}
.topHeadRight{
	float: right;
padding-right: 0;
padding-top: 2px;
}
.topHeadRight ul{
	margin:0px;
	padding:0px;
}
.topHeadRight li{
	display: inline-block;
float: right;
padding: 3px 0 0;
text-align: right;
width: 100%;
}
.topHeadRight li a
{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:9pt;
	text-decoration:none;
	color:#898989;
}

.nav {
	margin: 0px;
	padding: 0px;
	height: 40px;
	background-color: #f05a22;
	color:#FFF;
	
}
.nav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:10px 0px 0px 0px;
}
.nav li
{
	padding:0px 30px;
	display:inline;
	
}
.nav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#FFF;
	text-decoration:none;
}
/*-------------------bo sung hover cho subNav---------------*/
.subNav a:hover{
	color:#f05a22;
}
/*-------------------bo sung nav Span--------------*/
.nav ul li.Active a span,
.spanActive
{
	border-bottom:solid 2px #FFFFFF; 
	padding-bottom:2px;
	}
.navSpanActive
{
	border-bottom:solid 2px #FFFFFF; 
	padding-bottom:2px;
}
.navSpanDeactive{
	border-bottom:none;
	
}
