
.fresherBenefit h4{
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	font-weight:normal;
	font-size:13pt;
	color:#00acd4;
	text-decoration:none;
	padding-top:13px;
	padding-bottom:13px;
	padding-left:38px;
	background-repeat:no-repeat;
	background-position:left center;
}
