@charset "utf-8";

/*----------------SUB NAV-----------*/
body {
	font-family: UTMNeoSansIntel;
	background-color:#fff;
}
h4{

  color:#f05a22;
  font-size:23px;
  padding-top:0px;
  line-height:130%;
  padding: 5px 0 20px 0;
}

.hrMajor h3{color:#363636}
.hrMajor  a.hrMajor_title_active{
	font-size:16px;
	/* font-family:HelveticaNeueVnu-Bold-1; */
	line-height: 200%;
	color:#f05a22;
	font-weight: bold;
}
.hrMajor  a.hrMajor_title {
	font-weight: bold;
	font-size:16px;
	/* font-family:HelveticaNeueVnu-Bold-1; */
	line-height: 200%;
}

.hrSubmit {
padding-top: 5px;
}
.hrSubmit p {
margin-top: -10px;
text-align: right;
padding-right: 35px;
}


.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;

}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/
.hrTitle{
	padding-top:40px;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	a{
		color:#00acd4;
	}
}

/*--------------------Col setting------------*/
.hrCol{

	float:left;
	margin-bottom:60px;
	width:680px;

}
.jobCol{
	float:left;
	margin-bottom:60px;
	h4{
		font-family: HelveticaNeueVnu-Bold-1, Arial;
		font-size: 12pt;
		color: #f05a22;
		text-decoration: none;
		padding-top: 0px;
		padding-bottom: 10px;
		line-height: 130%;
		text-transform: uppercase;
		font-weight: bold;
	}
}
.hrLCol{
	width:230px;
	margin-right:30px;
	margin-top:10px;
}
.hrMidCol{
	width:415px;
	padding-top:15px;
}
.hrRCol{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:25px 38px 0px 38px;

}

.hrLCol h4, .hrMidCol h4{

	/* font-family:HelveticaNeueVnu-Bold-1, Arial; */
	font-size:13pt;
	color:#f05a22;
	text-decoration:none;
	padding-top:0px;
	padding-bottom:10px;
	line-height:130%;
}
.hrRCol h4{
	 font-family:UnisectVnu-Bold-1;
	color:#f05a22;
	font-size:24px;
	padding-bottom:20px;
	padding-top:20px;
	line-height:130%;
	padding:20px 0 20px 0px;
}
.hrCol .readmore{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	color:#00acd4;
	margin-top:10px;
	display:inline-block;
	float:right;
}
.hrBlock{
	margin-top:20px;
	padding-bottom:10px;
	ul{
		list-style: inherit;
	}
}
.hrCol p
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
	clear: both;
}
.hrThumb{
	width:85px;
	float:left;
	margin-top:-20px;
}
.hrText{
	width:415px;
	float:left;
	margin-bottom: 10px;
	.p_title{
		margin-top: 10px;
	}
	ul{
		margin-left: 15px;
	}
	li{
		margin-bottom: 1px;
	}
}
.hrText ul{
	padding-left:15px;
	margin-top: 0;
}
.hr_other{
	margin-bottom:40px;
}
.hr_other a{
	text-decoration:none;
	color:#00acd4;
	 font-family: HelveticaNeueVnu-Light-1;
	line-height:200%;
}
.hr_other a:hover {
color: #f05a22;
}

.hrFresherFace{
	margin-top:-15px;
}
.hrFresherFaceTitle{
	color:#00acd4;
	/* font-family: HelveticaNeueVnu-Roman-1; */
	font-size:14px;
	line-height:140%;
	padding-top:10px;
	padding-bottom:10px;
}
.hrFresherFaceText{
	line-height:140%;
	/* font-family: HelveticaNeueVnu-Light-1; */
	font-size:14px;
}

.hrzLine{
	height:1px;
	width:100%;
	background-image:url(../images/HrzDotted-Line.jpg);
	background-repeat:repeat-x;
	margin-top:8px;
	margin-bottom:10px;
}
/*----------------hr submit button---------------*/
.hrBtn ul, .hrShare ul{
	margin:0px;
	padding:0px;
}
.hrBtn ul li, .hrShare ul li{
	display:inline;
}
#applyBtn{
	width:85px;
	height:30px;
	background-color:#00acd4;
	border:none;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
}
#printBtn{
	width:85px;
	height:30px;
	background-color:#b7b7b7;
	border:none;
	color:#FFF;
	cursor:pointer;
	margin-left:5px;
	font-weight:bold;
	font-size:12px;
}
.hrShare ul li{
	margin-left:3px;
}
.hrBtn{
	float:left;
}
.hrShare{
	float:right;
}
.hrSubmit{
	padding-top:5px;
}
.jcarousel-pagination{
	margin-top: 10px;
}