@charset "utf-8";

/*----------------SUB NAV-----------*/
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;

}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/

.hrlifeBanner{
	min-height:300px;
	background-image: url(../images/banner/cuoc-song-vng-phuc-loi.jpg);
	background-position:bottom right,center right;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrLifeTitle{
	padding-top:40px;
	padding-bottom:20px;

	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
	a {
	color: #00acd4;
	}
}

/*--------------------Col setting------------*/
.hrLifeCol{
	width:480px;
	float:left;
	margin-bottom:120px;

}
.hrLifeRCol{
	float:right;
}
.hrLifeCol h4, .hrLifeCol h4 a{

	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:11pt;
	color:#f05a22;
	text-decoration:none;
	padding-top: 10px;
	padding-bottom:15px;
}
.hrLifeCol h4 a:hover{
color:#00acd4;
}
.hr_reg{ margin-top:20px;}
.hrLifeCol a{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	color:#00acd4;
	margin-top:10px;
	display:inline-block;
}
.hrLifeCol p
{
	/* font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.footer{

	width:100%;
	bottom:0px;
}

.enviCol {
width: 480px;
float: left;
margin-bottom: 10px;
	.enviRCol {
	float: right;
	margin-left: 40px;
	}
	h4 {
	/* font-family: HelveticaNeueVnu-Roman-1, Arial; */
	font-weight: normal;
	font-size: 13pt;
	color: #f05a22;
	text-decoration: none;
	margin-top: 5px;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 38px;
	background-repeat: no-repeat;
	background-position: left center;
	}
}

.enviroment{
	.hrCol{
		margin:0 !important;
		padding: 0;
		background-color: #fff;
	}
}