@charset "utf-8";

/*----------------SUB NAV-----------*/
.jobBlock {
min-height: 60px;
}
.subNav {
	margin: 0px;
	padding: 0px;
	height: 53px;
	background-color: #FFF;
	color:#898989;
	border-bottom:solid 1px #ebebeb;

}
.p_title{

	color:#f05a22;
	margin-bottom: 10px;
	display:block;
}
.subNav ul
{
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width:1024px;
}
.subNav li
{
	padding: 0px 0px;
	padding-top:18px;
	display: inline-block;
	border-right: solid 1px #ebebeb;
	height: 35px;
	float:left;
}
.subNavActive{
	width:328px;
	text-align:left;
}
.subNav a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:bold;
	font-size:10.5pt;
	color:#898989;
	text-decoration:none;
}
.subNavActive a{
	font-family:HelveticaNeueVnu-Roman-1, Arial;
	font-weight:normal;
}
.subNav .activeLink{
	color:#f05a22;
}
/*---------------------CONTENT---------------*/

.homeBannerTitle {
font-family: UnisectHeadlineVnu-Bold-1;
font-size: 30px;
line-height: 120%;
padding-left: 65px;
padding-top: 8%;
color: #00acd4;
background-image: url(../images/bannerSymbol.png);
background-repeat: no-repeat;
background-position: left 0px top 50%;
}

.hrBanner{
	min-height:300px;
	background-image:url(../images/banner/danh-cho-sv.jpg);
	background-position: top center;
	background-size: cover;
	background-repeat:no-repeat;
}
.hrBannerJob{
	.hrBanner;
	background-image:url(../images/banner/co-hoi-nghe-nghiep.jpg);

}

.hrBannerEnvi{
	.hrBanner;
	background-image:url(../images/banner/cuoc-song-vng.jpg);

}

.hrTitle{
	padding-top:40px;
	font-family:UnisectVnu-Bold-1;
	color:#00acd4;
	font-size:24px;
}

/*--------------------Col setting------------*/
.hrCol{

	float:left;
	margin-bottom:40px;

}
.hrLCol{
	padding-top:30px;
}
.hrRCol{
	float:right;
	background-color:#f3f3f3;
	width:236px;
	padding:25px 38px;
	margin-top:-10px;

}
.hrLCol h4{

	/* font-family:HelveticaNeueVnu-Bold-1, Arial */
	font-size:12pt;
	color:#f05a22;
	text-decoration:none;
	padding-top:0px;
	padding-bottom:10px;
	line-height:130%;
	text-transform: uppercase;
	font-weight: bold;
}
.hrRCol h4{
/*font-family:UnisectVnu-Bold-1; */
	color:#f05a22;
	font-size:22px;
	padding-bottom:20px;
	padding-top:0px;
	line-height:130%;
	font-weight: bold;
}
.hrCol .readmore{
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	color:#00acd4;
	margin-top:10px;
	display:inline-block;
}
.hrApply{
	float:right;
	text-decoration:none;
	/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
	color:#00acd4;
	margin-top:0px;
	display:inline-block;
}
.hrBlock{
	padding-bottom:10px;
}
.hrCol p
{
	/*font-family:HelveticaNeueVnu-Light-1; */
	font-size:14px;
	color:#363636;
	line-height:140%;
}
.hrMajor{
	width:225px;
	float:left;
}
.hrJob{
	width:415px;
	float:left;
	margin-right:40px;
	margin-left:30px;
}
.hrMajorList ul{
	margin:0px;
	margin-left:0px;
	padding:0px;

}
.hrMajorList ul li{
	margin-bottom:12px;
	list-style-type:none;

}
.hrMajorList ul li:before{
	content: "\3E \020";
	font-size: 9px;

}
.hrMajorList a{
	text-decoration:none;
	/*font-family:HelveticaNeueVnu-Light-1;*/
	font-size:14px;
	color:#363636;
}
.hrMajorList a:hover{
	color:#f05a22;
}
.hrMajorList .active{
	color:#f05a22;
	font-weight:bold;
}
.jobCode{
	color:#00acd4;
	font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
	font-size:11px;
}
.jobTitle a{
	text-decoration:none;
	color:#363636;
}
.jobTitle a:hover{
	color:#f05a22;
}
.newJob{
	margin-left:10px;
}

.hrSearch{
	padding-bottom:10px;
}

#printPage h4 {
text-transform: uppercase;
}
.hrFaq{
	margin-top:0px;
	padding-bottom:0px;
}
/*---------------------reg form----------*/
#regName, #regEmail, #keyword
{
	border:solid 1px #00acd4;
	width:228px;
	height:28px;
	margin-right:0px;
	padding-left:5px;
	color:#00acd4;
	font-size:9pt;
	margin-bottom:5px;
}
#city_id, #cate_id,
#jobKind, #jobLocal{
	border:solid 1px #00acd4;
	width:235px;
	height:30px;
	margin-right:0px;
	padding-left:4px;
	color:#00acd4;
	font-size:9pt;
	margin-bottom:5px;
	font-style:italic;
}
*::-webkit-input-placeholder {
   color: #00acd4;
   font-style:italic;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #00acd4;
	font-style:italic;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #00acd4;
	font-style:italic;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #00acd4;
	font-style:italic;
}
#reg_btn, #reg_btn_next,#reg_btn_back,#reg_btn_question, #reg_btn_rc, .reg_btn
{
	border:none;
	background-color:#00acd4;
	color:#FFF;
	width:85px;
	height:30px;
	cursor:pointer;
	margin:5px 0px;
	border-radius: 0;
	font-family: Tahoma;
	font-weight:bold;
	font-size:12px;
}
.hrRegForm input[type=checkbox]{
	border:solid 1px #00acd4;
	background-color:#FFF;
	color:#FFF;
	width:18px;
	height:18px;
	cursor:pointer;
	 vertical-align:middle;
}
.hrRegForm label{
	cursor:pointer;
	color:#00acd4;
	padding-left:0px;
	font-size:12px;
}
@-moz-document url-prefix() {

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label {

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:4px 12px 5px 0;
    vertical-align:middle;
    background:url(../image/check-box.png) left bottom no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../image/check-box.png) left top no-repeat;
}
}

@media screen and (-webkit-min-device-pixel-ratio:0) {

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:4px 12px 5px 0;
    vertical-align:middle;
    background:url(../image/check-box.png) left bottom no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../image/check-box.png) left top no-repeat;
}

}
/*---------------------------job detail------------*/
.hrBtn ul, .hrShare ul{
	margin:0px;
	padding:0px;
}
.hrBtn ul li, .hrShare ul li{
	display:inline;
}
#applyBtn{
	width:85px;
	height:30px;
	background-color:#00acd4;
	border:none;
	color:#FFF;
	cursor:pointer;
	font-weight:bold;
	font-size:12px;
}
#printBtn{
	width:85px;
	height:30px;
	background-color:#b7b7b7;
	border:none;
	color:#FFF;
	cursor:pointer;
	margin-left:5px;
	font-weight:bold;
	font-size:12px;
}
.hrShare ul li{
	margin-left:3px;
}
.hrBtn{
	float:left;
}
.hrShare{
	float:right;
}
.hrSubmit{
	padding-top:5px;
}
/*-------------------------hr Tab------------*/
.hrTabList{
	padding-top:5px;
}
.hrTab_1{
	padding-top:10px;
	width:180px;
	height:24px;
	background-color:#FFF;
	float:left;
	border-top:solid 2px #00acd4;
	border-left:solid 1px #d9d9d9;
	border-bottom:solid 1px #FFF;
	cursor:pointer;
	text-align:center;
	font-family: HelveticaNeueVnu-Roman-1;
	color:#00acd4;
}
.hrTab_2{
	padding-top:10px;
	width:180px;
	height:25px;
	background-color:#f3f3f3;
	float:left;
	border-top:solid 1px #d9d9d9;
	border-right:solid 1px #d9d9d9;
	border-left:solid 1px #d9d9d9;
	border-bottom:solid 1px #d9d9d9;
	cursor:pointer;
	text-align:center;
	font-family: HelveticaNeueVnu-Roman-1;
	color:#898989;

}
.hrTabSpace{
	width:50px;
	height:35px;
	float:left;
	border-top:solid 1px #FFF;
	border-bottom:solid 1px #d9d9d9;
}
.hrTabInfo_1 ul, .hrTabInfo_2 ul{
	margin:0px;
	padding:0px;
	margin-left:15px;
	margin-top:15px;
	color:#363636;
	line-height:140%;
}
.hrTabInfo_2{
	display:none;
}
.hrTabInfo_1 ul li, .hrTabInfo_2 ul li{
	padding-bottom:10px;
}

  body{

padding:0;
margin :0;
width: 100%;
margin: 0 auto;

font-family: UTMNeoSansIntel, Arial, sans-serif ! important;

}

.Critical {
color: #ff0000;
padding:0;
margin :0;
}
h4{

  color:#f05a22;
  font-size:23px;
  padding-top:0px;
  line-height:130%;
  padding: 5px 0 20px 0;
}
table {
  margin: 0 auto;
}
.LeftText {
  text-align: left;
  padding: 0 10px;
  font-style:italic;
  font-size: 13px;
}
.LeftText span {
 color: #ff0000;

}
.Popup  tr td{padding-bottom:9px}
.Popup tr textarea,
.Popup tr select,
.Popup  tr input {

  border-radius: 10px;
  width: 320px;

border: solid 1px #00acd4;

height: 28px;
margin-right: 0px;
padding-left: 5px;
color: #00acd4;
font-size: 9pt;
background: #f3f3f3;
}
.Popup  {
margin: 0 auto;
width: 500px;
}
.Popup tr select {
  width: 330px;

  }
.Popup tr textarea {
  height: 150px;
}
.Popup  tr input[type=file] {

padding-top: 5px;
  background:  url(//img.zing.vn/vng/skin/vng-2014/image/file.png) no-repeat top right;
}
table {
margin: 0;
}

.ButtonDis {

background: #00acd4 url(//img.zing.vn/vng/skin/vng-2014/image/loading.gif) no-repeat top center;
}

body{

padding:0;
margin :0;

}
.Critical, .required {
color: #ff0000 !important;
padding:0;
margin :0;
font-size:13px;
text-align: left;
}
h4{
  font-family:UnisectVnu-Bold-1;
  color:#f05a22;
  font-size:23px;
  padding-top:0px;
  line-height:130%;
padding:0;
margin :0;
}

textarea:focus,
select:focus,
input:focus{outline: none}

.hr_reg h4 {
font-family:UnisectVnu-Bold-1;

}
.hrFresherFace {
margin-top :0;
}
.message{
	position:fixed;top:40%;right:40%;background-color:#E03907;width:auto;height:auto;display:none;padding:20px;color:#fff;
	font-size: 18px;
}
.success{
	background-color: #32AE17;
}