/*--------------------Col setting------------*/
.recruitCol{

	float:left;
	margin-bottom:60px;
	width:680px;
	padding-top: 40px;
	.thumb{
		width:75px;
		float:left;
	}
	.text{
		width:570px;
		float:left;
		margin-left:30px;
		h4{
			font-size: 13pt;
			padding-bottom: 10px;
			a{
				color: #f05a22;
				&:hover{
					color: #00acd4;
				}
			}
		}
	}
	.readmore{
		text-decoration:none;
		/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
		color:#00acd4;
		margin-top:10px;
		display:inline-block;
		float:right;
	}

		p
	{
		/* font-family:HelveticaNeueVnu-Light-1; */
		font-size:14px;
		color:#363636;
		line-height:140%;
		clear: both;
	}

}

.adviseCol{

	float:left;
	margin-bottom:60px;
	width:680px;
	padding-top: 40px;
	.thumb{
		width:75px;
		float:left;
	}
	.hrText{
		width:680px;
		float:left;
	}
	.hrBlock{
		margin-top: 0;
	}
	.seeMore{
		text-decoration:none;
		/* font-family:HelveticaNeueVnu-Roman-1, Arial; */
		color:#00acd4;
		margin-top:10px;
		display:block;
		text-align: right;
		a {
			text-decoration: none;
			/* font-family: HelveticaNeueVnu-Roman-1, Arial; */
			color: #00acd4;
			margin-top: 10px;
			display: inline-block;
		}
	}

	h4 a {
		font-family: UTMNeoSansIntel, Arial, sans-serif ! important;
		font-size: 12pt;
		color: #f05a22;
		text-decoration: none;
		padding-top: 0px;
		padding-bottom: 10px;
		line-height: 130%;
	}
	.hrTips {
		padding-top: 20px !important;
		 ul {
			margin-left: 20px !important;
			margin-top: -5px;
			margin-bottom: 0px;
			ul{
				list-style-type: circle
				}
			}
		h4{
			padding-bottom: 30px;
		}
	}

		p
	{
		/* font-family:HelveticaNeueVnu-Light-1; */
		font-size:14px;
		color:#363636;
		line-height:140%;
		clear: both;
	}

}



input[type="checkbox"] + label {

}

input[type="checkbox"] + label span {
    display:inline-block;
    width:20px;
    height:20px;
    margin:4px 12px 5px 0;
    vertical-align:middle;
    background:url(../images/check-box.png) left bottom no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(../images/check-box.png) left top no-repeat;
}

.applyBtnNop {
/* width: 85px; */
/* height: 17px; */
background-color: #00acd4;
border: none;
color: #FFF;
cursor: pointer;
font-weight: bold;
font-size: 12px;
padding: 8px 10px;
text-decoration: none;
font-family: Tahoma;
}
.jobPageNav {
	a {
		text-align: center;
		text-decoration: none;
		font-family: HelveticaNeueVnu-Bold-1, Arial;
		color: #363636;
		background-color: #ebebeb;
		padding: 3px 8px;
		margin-right: 3px;
		margin-left: 3px;
	}
	.pageActive {
		text-decoration: none;
		font-family: HelveticaNeueVnu-Bold-1, Arial;
		color: #FFF;
		background-color: #00acd4;
	}
}