<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Đăng ký nhận tin email</title>

<style>
body{

padding:0;
margin :0;

}
.Critical, .required {
color: #ff0000;
padding:0;
margin :0;
font-size:13px;
}
h4{
  font-family:UnisectVnu-Bold-1;
  color:#f05a22;
  font-size:23px;
  padding-top:0px;
  line-height:130%;
padding:0;
margin :0;
}

textarea:focus,
select:focus,
input:focus{outline: none}

.hr_reg h4 {
font-family:UnisectVnu-Bold-1;

}
.hrFresherFace {
margin-top :0;
}

</style>
<link href="//img.zing.vn/vng/skin/vng-2014/css/embed_font.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/footer.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/header.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/content.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/hr_work.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/hr_student.css" rel="stylesheet" type="text/css">
<link href="//img.zing.vn/vng/skin/vng-2014/css/content_newsDetail.css" rel="stylesheet" type="text/css">

<link href="//img.zing.vn/vng/skin/vng-2014/css/hr_workDetail.css" rel="stylesheet" type="text/css">

<style type="text/css">

  body{

padding:0;
margin :0;
background: #f3f3f3;
width: 100%;
margin: 0 auto;

font-family: UTMNeoSansIntel, Arial, sans-serif ! important;

}

.Critical {
color: #ff0000;
padding:0;
margin :0;
}
h4{

  color:#f05a22;
  font-size:23px;
  padding-top:0px;
  line-height:130%;
  padding: 5px 0 20px 0;
}
table {
  margin: 0 auto;
}
.LeftText {
  text-align: left;
  padding: 0 10px;
  font-style:italic;
  font-size: 13px;
}
.LeftText span {
 color: #ff0000;

}
.Popup  tr td{padding-bottom:9px}
.Popup tr textarea,
.Popup tr select,
.Popup  tr input {

  border-radius: 10px;
  width: 320px;

border: solid 1px #00acd4;

height: 28px;
margin-right: 0px;
padding-left: 5px;
color: #00acd4;
font-size: 9pt;
background: #f3f3f3;
}
.Popup  {
margin: 0 auto;
width: 500px;
}
.Popup tr select {
  width: 330px;

  }
.Popup tr textarea {
  height: 150px;
}
.Popup  tr input[type=file] {

padding-top: 5px;
  background:  url(//img.zing.vn/vng/skin/vng-2014/image/file.png) no-repeat top right;
}
table {
margin: 0;
}

.ButtonDis {

background: #00acd4 url(//img.zing.vn/vng/skin/vng-2014/image/loading.gif) no-repeat top center;
}


</style>

<!----------nav hover script -->
<script type="text/javascript" src="//img.zing.vn/vng/skin/vng-2014/JS/jquery.min.js"></script>
<script type="text/javascript" src="//img.zing.vn/vng/skin/vng-2014/JS/navHoverScript.js"></script>
 <link rel="stylesheet" href="//img.zing.vn/vng/skin/vng-2014/fancybox/jquery-ui.css">

<script src="//img.zing.vn/vng/skin/vng-2014/fancybox/jquery-ui.js"></script>

 <script>
$(function() {
//$( ".datepicker" ).datepicker();
var d = new Date();
var n = d.getFullYear()-14;


var strYear="1950:"+n;


if ( $( ".datepicker" ).length >0 ){
 $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy',yearRange: strYear,

    changeMonth: true,
      changeYear: true }).val();


}


$("#reg_btn").click(function(){ $(this).addClass("ButtonDis");  setTimeout(function(){$("#reg_btn").removeClass("ButtonDis");}, 4000);})
});
</script>

</head>
<body>

<!-- Begin module recruitment - cmVjcnVpdG1lbnR8NTA0fGRhbmcta3ktdm5nLWludGVybnNoaXA -->
    <div class="Popup">


    <div class="hr_reg">
      <div class="hrRegForm">
<p></p>
        <form name="register" action="" method="post" id="frmRegister" enctype="multipart/form-data">
            <table width="auto" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
    <td class="LeftText">Họ và chữ lót <span> * </span> </td>
    <td>
    <input type="text" name="member[last_name]" value="" data-required = "required" placeholder="Họ và chữ lót">
    <p class="required">  </p>
    </td>
  </tr>
  <tr>
    <td class="LeftText">Tên <span> * </span> </td>
    <td>
    <input type="text" name="member[first_name]" value="" placeholder="Tên">
    <p class="required"></p>
    </td>
  </tr>
  <tr>
    <td class="LeftText">Ngày sinh <span> * </span></td>
    <td>
    <input type="text" name="member[birthday]" value="" readonly="" placeholder="dd/mm/yy" class="datepicker hasDatepicker" id="dp1422270761022">
    <p class="required"></p>
    </td>
  </tr>
<tr>
    <td class="LeftText">Giới tính <span> * </span> </td>
    <td>
      <select name="member[gender]" class="" title="Chọn giới tính">
<option value="">Chọn giới tính</option>
    <option value="male">Nam</option>
    <option value="female">Nữ</option>
    </select>
    <p class="required"></p>
    </td>
  </tr>
  <tr>
    <td class="LeftText">Email <span> * </span> </td>
    <td>
    <input type="text" name="member[email]" value="" placeholder="Email">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Số điện thoại <span> * </span> </td>
    <td>
    <input type="text" name="member[phone]" value="" placeholder="Số điện thoại">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Số CMND  </td>
    <td>
    <input type="text" name="member[identification_no]" value="" placeholder="Số CMND">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Chuyên ngành <span> * </span> </td>
    <td>
    <input type="text" name="member[speciality]" value="" placeholder="Chuyên ngành">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Địa chỉ thường trú  </td>
    <td>
    <input type="text" name="member[pernament_address]" value="" placeholder="Địa chỉ thường trú">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Tốt nghiệp năm <span> * </span> </td>
  <td>
    <select name="member[graduation]" class="SelectUI Theme_GP Theme_Human" title="Chọn thời gian tốt nghiệp">
      <option value="">Chọn thời gian tốt nghiệp</option>
                <option value="388">Cuối năm 2014</option>
                    <option value="636">Cuối năm 2015</option>
                    <option value="641">Cuối năm 2016</option>
                    <option value="697">Cuối năm 2017</option>
                    <option value="803">Cuối năm 2018</option>
                    <option value="805">Cuối năm 2019</option>
                    <option value="32">Đầu năm 2015</option>
                    <option value="637">Đầu năm 2016</option>
                    <option value="696">Đầu năm 2017</option>
                    <option value="802">Đầu năm 2018</option>
                    <option value="804">Đầu năm 2019</option>

    </select>
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Điểm trung bình <span> * </span> </td>
    <td>
    <input type="text" name="member[cumulative_gpa]" value="" placeholder="Điểm trung bình tích lũy">
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Bạn biết Chương trình này thông qua <span> * </span> </td>
  <td>
    <select name="member[knowfresher]" class="SelectUI Theme_GP Theme_Human" title="Bạn biết Chương trình này thông qua">
      <option value="">Bạn biết Chương trình này thông qua</option>
                <option value="6">Bạn bè giới thiệu</option>
                    <option value="7">Bảng thông báo tại trường đại học</option>
                    <option value="5">Diễn đàn</option>
                    <option value="1">Facebook post</option>
                    <option value="3">Hội chợ việc làm</option>
                    <option value="2">Hội thảo</option>
                    <option value="9">Khác</option>
                    <option value="4">VNG Tour</option>
                    <option value="8">VNG website</option>

    </select>
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">Chọn trường <span> * </span> </td>
  <td>
    <select name="member[school]" class="SelectUI Theme_GP Theme_Human" title="Chọn trường">
      <option value="">Chọn trường</option>
                <option value="1640">Cao đẳng Công nghệ thông tin</option>
                    <option value="1638">Cao đẳng Hàng Hải 1</option>
                    <option value="1148">Cao đẳng Kinh tế</option>
                    <option value="1159">Cao đẳng Kinh tế Đối ngoại</option>
                    <option value="1656">Cao Đẳng Kỹ Thuật Lý Tự Trọng</option>
                    <option value="1250">Cao đẳng Tài chính kế toán IV</option>
                    <option value="1258">Đại học Bách khoa Đà Nẵng</option>
                    <option value="1260">Đại học Bách khoa Hà Nội</option>
                    <option value="1261">Đại học Bách Khoa TP HCM</option>
                    <option value="1262">Đại học Bình Dương</option>
                    <option value="1263">Đại học Cần Thơ</option>
                    <option value="1264">Đại học CNTT TP HCM</option>
                    <option value="1644">Đại học Công nghệ - ĐHQG HN</option>
                    <option value="1456">Đại học Công Nghệ Hà Nội</option>
                    <option value="1266">Đại học Công nghệ Sài Gòn</option>
                    <option value="1299">Đại học Công nghệ Tp.HCM (Hutech)</option>
                    <option value="1381">Đại học Công nghiệp TP HCM</option>
                    <option value="1269">Đại học Đà Lạt</option>
                    <option value="1274">Đại học Duy Tân Đà Nẵng</option>
                    <option value="1409">Đại học FPT</option>
                    <option value="1506">Đại học Giao Thông Vận Tải Tp.HCM</option>
                    <option value="1639">Đại học Hàng Hải Việt Nam</option>
                    <option value="1277">Đại học Hoa Sen</option>
                    <option value="1278">Đại học Hồng Bàng</option>
                    <option value="1283">Đại học Hùng Vương</option>
                    <option value="1284">Đại học Khoa học Huế</option>
                    <option value="1285">Đại học KHTN Hà Nội</option>
                    <option value="1286">Đại học KHTN TP HCM</option>
                    <option value="1287">Đại học KHXH &amp; NV</option>
                    <option value="1288">Đại học Kiến trúc TP HCM</option>
                    <option value="1484">Đại học Kinh Tế - Luật</option>
                    <option value="1293">Đại học Kinh tế quốc dân Hà Nội</option>
                    <option value="1445">Đại học Kinh tế - Tài chính TP HCM</option>
                    <option value="1289">Đại học Kinh tế Tp.HCM</option>
                    <option value="1302">Đại học Lạc Hồng</option>
                    <option value="1307">Đại học Luật TP HCM</option>
                    <option value="1310">Đại học Mở TP HCM</option>
                    <option value="1596">Đại học Mỹ Thuật TP HCM</option>
                    <option value="1313">Đại học Ngân hàng TP HCM</option>
                    <option value="1561">Đại học Ngoại ngữ - Tin học Tp. HCM</option>
                    <option value="1085">Đại học Ngoại thương</option>
                    <option value="1635">Đại học Nguyễn Tất Thành</option>
                    <option value="1089">Đại học Nông lâm TP HCM</option>
                    <option value="1557">Đại học Quốc tế</option>
                    <option value="1317">Đại học RMIT</option>
                    <option value="1096">Đại học Sài Gòn</option>
                    <option value="1099">Đại học Sư phạm Kỹ thuật</option>
                    <option value="1100">Đại học Sư phạm TP HCM</option>
                    <option value="1406">Đại học Tài chính - Marketing</option>
                    <option value="1107">Đại học Tôn Đức Thắng</option>
                    <option value="1111">Đại học Văn Hiến</option>
                    <option value="1113">Đại học Văn Lang</option>
                    <option value="1651">Học viện Báo chí và tuyên truyền - Hà Nội</option>
                    <option value="1119">Học viện CNTT NIIT</option>
                    <option value="1384">Học viện Công nghệ Bưu chính Viễn thông</option>
                    <option value="1123">Học viện Hành chính Quốc gia</option>
                    <option value="1616">Học Viện Kỹ Thuật Quân Sự</option>
                    <option value="1124">Học viện Ngân hàng</option>
                    <option value="1128">Học viện Tài chính</option>
                    <option value="1516">Khác</option>
                    <option value="1636">Trung cấp nghề Thủ Đức</option>

    </select>
    <p class="required"></p>
  </td>
  </tr>
    <tr>
    <td class="LeftText">Bằng cấp <span> * </span> </td>
  <td>
    <select name="member[degree]" class="SelectUI Theme_GP Theme_Human" title="Chọn bằng cấp">
      <option value="">Chọn bằng cấp</option>
                <option value="30">Cao Đẳng</option>
                    <option value="24">Cử nhân</option>
                    <option value="29">Kỹ Thuật Viên</option>
                    <option value="28">Kỹ sư</option>
                    <option value="26">Phó tiến sĩ</option>
                    <option value="27">TSKH</option>
                    <option value="25">Thạc sĩ</option>
                    <option value="23">Tiến sĩ</option>
                    <option value="31">Trung Cấp Chuyên Nghiệp</option>
                    <option value="32">Trung Học Phổ Thông</option>

    </select>
    <p class="required"></p>
  </td>
  </tr>
  <tr>
    <td class="LeftText">File CV <span> * </span> </td>
    <td>
  <input type="file" name="file" id="file"><br>
  <p class="required"></p>
  <p class="Critical">Định dạng tệp tin: doc, docx, xls, xlsx, ppt, pptx, pdf, jpg <br>dung lượng không quá 3MB</p>

    </td>
  </tr>
    <tr>
    <td class="LeftText">Hồ sơ khác </td>
    <td>
  <input type="file" name="file2" id="file2"><br>
  <p class="required"></p>
  <p class="Critical">Định dạng tệp tin: doc, docx, xls, xlsx, ppt, pptx, pdf, jpg, rar, <br>zip, 7z dung lượng không quá 3MB</p>

    </td>
  </tr>
  <tr>
    <td class="LeftText"></td>
    <td>
     <input type="hidden" name="captcha[id]" value="f14c7b7e633d38ed8c3c2408ea9e4051">
     <img src="<?php echo $this->captchaUrl?>" />
    </td>
  </tr>
  <tr>
    <td class="LeftText">Mã xác nhận</td>
    <td>
     <input type="text" value="" id="captcha" name="captcha[input]" class="Capcha">
     <p class="Critical"></p>
    </td>
  </tr>
</tbody></table>

<div class="regBtnCont" style="text-align:center">
  <input id="reg_btn" type="submit" value="ĐĂNG KÝ" class="BtSubmit" title="">
  <input type="hidden" value="//www.vng.com.vn/dang-ky-vng-internship" id="link">
</div><!--end regBtnCont -->
        </form>
      </div><!--end hrRegForm -->
    </div><!--end hrReg -->

  </div>


<!-- End module recruitment -->



<div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div></body></html>

<script>
  $(document).ready(function(){
    $('#frmRegister').submit(function() {
       var res = true;
       // here I am checking for textFields, password fields, and any
       // drop down you may have in the form
       $("input[type='text'],select,input[type='password']",this).each(function() {
           if($(this).val().trim() == "" && $(this).data('required') == "required") {
               res = false;
               $(this).parent().find('.required').html('Truong nay la bat buoc');
           }
       })
       return res; // returning false will prevent the form from submitting.
  });
  });
</script>