
 <div class="hrBannerJob">
    <div class="container homeBannerContainer">
        <div class="homeBannerTitle">
            <p>
                Môi trường thúc đẩy sự sáng tạo,
                <br>
                con người VNG cởi mở chào đón
                <br>
                những ai dám đón nhận thách
                <br>thức để theo đuổi đam mê.</p>
        </div>
        <!--end homeBannerTitle -->
        <div id="list" class="divLine"></div>
        <!--end divLine --> </div>
</div>
<!--end hrBanner -->

 <?php echo $this->render('part/job/register.phtml'); ?>