
<div class="hrBlock" id="#list">
            <div class="hrMajor">
              <?php echo $this->render('part/job/job_category.phtml'); ?>
            </div>
            <div class="hrJob" id="job_available">
              <h4>VỊ TRÍ ĐANG TUYỂN</h4>
              <div  class="NoViewPage">
                  <?php if(isset($this->list_job) && count($this->list_job) > 0){ foreach ($this->list_job as $key => $job):?>
                      <div class="hrzLine"></div><!--end hrzLine -->
                      <div class="jobBlock">
                          <table border="0" width="100%">
                            <tbody><tr>
                              <td class="jobCode"><?php echo $job->code;?>
                              <?php  $new_date = strtotime ( '+14 day' , strtotime ($job->date_start) ) ;
                                      $new_date = strtotime(date ('Y-m-d' , $new_date ));
                                      $today = strtotime(date('Y-m-d'));
                                      if( $new_date >= $today):?>
                                  <a class="newJob" href="#">
                                      <img src="//img.zing.vn/vng/skin/vng-2014/image/hr_work/newIcon.png" width="35" height="15">
                                  </a>
                              <?php endif;?>

                              </td>
                            </tr>
                            <tr>
                              <td class="jobTitle">
                                  <a href="/co-hoi-nghe-nghiep/chi-tiet/<?php echo $job->vhr_job_id[0];?>.<?php echo $job->id;?>-<?php echo Utility_Unicode::toSlug($job->name)?>#list">
                                      <strong> <span class="NameCate"><?php echo $job->name;?><span> </span></span></strong>  <br><?php echo $job->vhr_job_id[1]?>, <?php echo $job->city_id[1]?>
                                  </a>
                              </td>
                            </tr>
                            <tr>
                              <td><a href="#divForm" class="hrApply various" data-id="<?php echo $job->id;?>" data-name="<?php echo $job->name;?>" style="display: none;">&gt; NỘP ĐƠN</a><div class="clearFloat"></div><!--end clearFloat --></td>
                            </tr>
                          </tbody></table>
                      </div><!--end jobBlock -->
                  <?php endforeach;
                        }else{
                          echo '<p class="NoticeText">Dữ liệu đang được cập nhật</p>'; 
                        }
                  ?>
              </div>
              <div class="hrzLine"></div><!--end hrzLine -->
              <div class="clearFloat"></div><!--end clearFloat -->
              <?php echo $this->render('part/pagination.phtml'); ?>
            </div>
            <!--end hrJob -->
          <div class="clearFloat"></div>
        </div>