<?php
    $this->doctype('XHTML1_RDFA');
    $this->headTitle($this->job_item->name);
    $this->headMeta()->appendName('keywords', 'Gioi thieu,  vng cuoc song, phuc loi');
    $this->headMeta()->appendName('description', $this->job_item->name.', tuyen dung vng, viec lam vng, viec lam moi vng, tuyen dung 2015');
    $this->headMeta()->setProperty('og:title',                  $this->job_item->name);
    $this->headMeta()->setProperty('og:url',                    $_SERVER['HTTP_HOST'] . parse_url($_SERVER['REQUEST_URI'], PHP_URL_PATH));
    $this->headMeta()->setProperty('og:description', $this->job_item->name.', tuyen dung vng, viec lam vng, viec lam moi vng, tuyen dung 2015');

?>

 <div class="hrBlock" id="#list">
      <div class="hrMajor">
          <?php echo $this->render('part/job/job_category.phtml'); ?>
    </div>
      <div class="hrJob" id="job_available">
        <div id="printPage">
           <h4><?php echo $this->job_item->name?></h4>
            <div class="hrzLine"></div><!--end hrzLine -->
            <!---------------------job Block 1-------------- -->
            <div class="jobBlock">
              <table border="0" width="auto">
          <tbody><tr>
            <td style="font-weight:bold">Mã nghề nghiệp: </td>
            <td><?php echo $this->job_item->code?></td>
          </tr>
        </tbody></table>

        <table border="0" width="auto">
          <tbody><tr>
            <td style="font-weight:bold">Nơi làm việc: </td>
            <td><?php echo $this->job_item->city_id[1]?> </td>
          </tr>
        </tbody></table>
        <table border="0" width="auto">
          <tbody><tr>
            <td style="font-weight:bold">Lương: </td>
            <td><?php echo $this->job_item->salary?></td>
          </tr>
        </tbody></table>
            </div><!--end jobBlock -->

            <div class="hrzLine"></div><!--end hrzLine -->
            <div class="hrText">
              <p>
              <span class="p_title">Mô tả công việc</span></p>
               <?php echo $this->job_item->description?>
              <p><span class="p_title">Yêu cầu</span>
              </p>
                <?php echo $this->job_item->requirement?>
          </div>
          <div class="clearFloat"></div>
          <div class="hrzLine"></div>

        <!--------------------------hr submit------------------- -->

        <div class="hrSubmit">
            <p>Chia sẻ:</p>
            <div class="hrBtn">
                  <ul>
                      <li>
        <a  href="#divForm" class="various" id="applyBtnReg"job_item> NỘP ĐƠN </a>

        </li>
                          <li><a href="//www.vng.com.vn/chia-se-vi-tri-tuyen-dung/index.html?linkSend=http://www.vng.com.vn/vn/tuyen-dung/chi-tiet.1.software-engineer.phat-trien-phan-mem.tp-ho-chi-minh.668.html#list" id="sendFriend" data-fancybox-type="iframe" title="GIỚI THIỆU CHO BẠN BÈ" class="SendFriend various"> GIỚI THIỆU CHO BẠN BÈ </a></li>
                    </ul>
                </div><!--end hrBtn -->
                <div class="hrShare">
                    <ul>
                            <li><a class="zm_share"  data-type="zing" data-title="<?php echo $this->job_item->name?>" data-desc="<?php echo urlencode($this->job_item->description) ?>" 
                            href="javascript:void(0)" name="zm_share"  style="text-decoration: none;"><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/zingLogo.png" width="24" height="24"></a></li>

                            <li><a  class="zm_share" href="javascript:void(0)" data-type="fb" data-title="<?php echo $this->job_item->name?>" data-desc="<?php echo urlencode($this->job_item->description) ?>" class="FacebookBtn"><img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/facebookLogo.png" width="24" height="24"></a></li>
                            <li>
                            <a id="shareLinke" class="zm_share" data-type="linke" data-title="<?php echo $this->job_item->name?>" data-desc="<?php echo urlencode($this->job_item->description) ?>" href="javascript:void(0)"> <img src="//img.zing.vn/vng/skin/vng-2014/image/hr_workDetail/linkedinLogo.png" title="Share on LinkedIn" alt="Share on LinkedIn" border="0"> </a>
                            </li>
                        </ul>
                </div><!--end hrShare -->
                <div class="clearFloat"></div><!--end clearFloat -->
        </div><!--end hrSubmit -->




        <div class="clearFloat"></div><!--end clearFloat -->

        </div>
        <div class="hrzLine"></div><!--end hrzLine -->
        <div class="clearFloat"></div><!--end clearFloat -->
        <?php if(count($this->list_relate)> 0):?>
            <div class="hrOtherJob">
                  <h4>VỊ TRÍ CÔNG VIỆC KHÁC</h4>
                   <?php foreach ($this->list_relate as $key => $list):
                   if($key < 3):
                   ?>
                  <div class="jobBlock" style="min-height:60px">
                    <table border="0" width="100%">
                            <tbody><tr>
                              <td class="jobCode"><?php echo $list->code?>
                               </td>
                            </tr>
                            <tr>
                              <td class="jobTitle">
                                  <a href="/co-hoi-nghe-nghiep/chi-tiet/<?php echo $this->catId;?>.<?php echo $list->id;?>-<?php echo Utility_Unicode::toSlug($list->name)?>#list">
                                      <strong> <span class="NameCate"><?php echo $list->name?><span>, </span></span></strong> <?php echo $list->vhr_job_id[1]?>, <?php echo $list->city_id[1]?>
                                  </a>
                              </td>
                            </tr>
                          </tbody></table>
                  </div><!--end jobBlock -->
                  <?php endif; endforeach;?>
                  <?php if(count($this->list_relate)> 2):?>
                  <a class="readmore " style="float:right;color:#00acd4" href="/co-hoi-nghe-nghiep/<?php echo $this->catId?>-<?php echo Utility_Unicode::toSlug($this->catName)?>#list">&gt; XEM TIẾP</a>
                  <?php endif;?>
              <div class="clearFloat"></div><!--end clearFloat -->
            </div>
          <?php endif;?>
              <div class="clearFloat"></div>
          </div>
    <!--end hrJob -->
  <div class="clearFloat"></div>
</div>
