<h4>Các ngành nghề</h4>
<div class="hrMajorList">
  <ul>
          <?php foreach ($this->school->job_cat_ids as $key => $school):?>
            <li>
                <a class="job_category <?php echo  (isset($this->catId) &&  $this->catId == $school->id)?'active':''?>" href="/co-hoi-nghe-nghiep/<?php echo $school->id?>-<?php echo Utility_Unicode::toSlug($school->name)?>#list" data-id="<?php echo $school->id?>" title="<?php echo $school->name?>" ><?php echo $school->name." (".count($school->job_program_vn_ids).")"?></a>
            </li>
          <?php endforeach;?>
  </ul>
</div>