<div class="hr_reg">
			  <h4>ĐĂNG KÝ NHẬN TIN<br>
		        <span style="border-bottom:solid 2px #f05a22">QU</span>A EMAIL</h4>

		      <div class="hrRegForm">
				<p class="Critical" id="msg_sucss"></p>
				    <form name="register" action="" method="post" id="frmRegisterReceive">
			            <table width="auto" border="0" cellspacing="0" cellpadding="0">
						  <tbody><tr>
						    <td>
						    	<input type="text" name="name" id="regName" data-error="Vui lòng nhập vào họ tên" value="" placeholder="Họ và tên">
								<p class="Critical" id="msg_full_name" ></p>
						    </td>
						  </tr>
						  <tr>
						    <td><input type="text" name="email" id="regEmail" value="" data-error="Vui lòng nhập email"  placeholder="Email">

						    <p class="Critical" id="msg_email" ></p>
						  </td>
						  </tr>

						</tbody></table>

						<div class="regBtnCont" style="text-align:center">
							<img class="sloading" src="/layouts/web/img/loading.gif" width="30px" style="display:none;position:absolute;margin-top:-30px;margin-left:10px">
						  	<input id="reg_btn_rc_job" class="reg_btn" type="submit" value="ĐĂNG KÝ" class="BtSubmit" title="">
						</div><!--end regBtnCont -->
		        	</form>
		      </div><!--end hrRegForm -->
		</div>