<div id="divForm" style="display:none">
  <!-- Begin module recruitment - cmVjcnVpdG1lbnR8NTA0fGRhbmcta3ktdm5nLWludGVybnNoaXA -->
  <div class="Popup">
      <div class="hr_reg">
        <div class="hrRegForm">
        <p></p>
          <form name="register"  method="post" id="frmRegister" enctype="multipart/form-data">
              <thead><div style="margin:10px;color:red;font-weight:bold" id="form_error"></div></thead>
              <table width="auto" border="0" cellspacing="0" cellpadding="0" id="tbody" style="text-align:left">
                  <tbody id="member_info">
                    <tr>
                      <td></td>
                     <td>
                       <input name="event_name" id="post_event_name" type="hidden" value="vị trí ứng tuyển <?php echo isset($this->job_item->name)?$this->job_item->name:''?>"  title="">
                      </td>
                    </tr>
                    <tr>
                      <td></td>
                     <td>
                       <input name="member[post_job_id]" id="post_job_id" type="hidden" value="<?php echo isset($this->job_item->id)?$this->job_item->id:''?>"  title="">
                      </td>
                    </tr>

                  </tbody>
                  <tbody id="member_question" style="display:none"></tbody>
              </table>

          </form>
          <div style="color:red">
             <img src="/layouts/web/img/hotline.png" width="35px" style="position:absolute;margin-left:-40px;margin-top:-10px" /><span><span style="color:#000;">Khi cần hỗ trợ đăng ký vui lòng liên hệ: </span>
             <span style="font-weight:bold;margin-left:5px"> 0986 001 010 <span style="margin-left:5px;">hoặc<span> <span style="margin-left:5px;">0935 773 969</span></span>

          </div>
        </div><!--end hrRegForm -->
      </div><!--end hrReg -->
  </div>
  <div class="message">
  </div>
</div>
<script>
 var list_school = <?php echo json_encode($this->school);?>;
 $(document).ready(function() {
    for(i=0 ; i < list_school.renderform.length; i++){
        $("#member_info").append(list_school.renderform[i]);
    }

        var d = new Date();
    var n = d.getFullYear()-14;
    var strYear="1950:"+n;

    if ( $( ".datepicker" ).length > 0 ){
        $( ".datepicker" ).datepicker({ dateFormat: 'mm/dd/yy',yearRange: strYear,changeMonth: true,changeYear: true,defaultDate: '01/01/1950'}).val();
    }

    $('.hrApply').click(function(){
        $("#post_event_name").val('vị trí ứng tuyển '+$(this).data('name'));
        $("#post_job_id").val($(this).data('id'));
    });
 });
</script>