<?php echo $this->render('part/job/search.phtml'); ?>
<?php echo $this->render('part/job/reg_receive.phtml'); ?>
<!--end hrReg -->


<div class="hrFaq">
    <?php $advise = Api_Erp::getDynamicInfo(array('method' =>'get_advive','data' => array())); ?>
    <h4>
        LỜI KHUYÊN DÀNH CHO <span style="border-bottom:solid 2px #f05a22">ỨN</span>G VIÊN
    </h4>
    <p>
        <?php echo $advise[0]->short_description;?>
    </p>
    <a class="readmore" href="/co-hoi-nghe-nghiep/loi_khuyen#list">&gt; XEM TIẾP</a>
    <div class="clearFloat"></div>
    <!--end clearFloat -->
</div>