<?php if(!isset($this->post)){
    $this->post = array(
        'keyword' =>'',
        'city_id' => 0,
        'cate_id' => 0
      );
  }
  ?>
<div class="hrSearch">
                    <!-- Begin block recruitment_box_right - MTkyNTZ8MjQ5fHJlY3J1aXRtZW50fDQzM3x2bl90dXllbi1kdW5nfGJveF9yaWdodHxQSFA --><div class="hrSearch">

  <h4>TÌM KIẾM<br>
        <span style="border-bottom:solid 2px #f05a22">CƠ</span> HỘI NGHỀ NGHIỆP</h4>

  <div class="hrSearchForm">
    <form id="searchform" method="GET" name="searchForm" action="/co-hoi-nghe-nghiep/tim-kiem#list">
      <table width="auto" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <input type="text" class="TypeText TextInputReplace" value="<?php echo $this->post['keyword']?>" name="keyword" id="keyword" placeholder="Từ khóa">
          </td>
        </tr>
        <tr>
          <td>
            <select id="cate_id" name="cate_id">
                <option value="0" <?php echo (0 == $this->post['cate_id'])?'selected':'' ?>>Ngành nghề</option>
                <?php foreach ($this->school->job_cat_ids as $key => $school):?>
                    <option value="<?php echo $school->id?>" <?php echo ($school->id == $this->post['cate_id'])?'selected':'' ?>><?php echo $school->name?></option>
                <?php endforeach;?>
          </select>
        </td>
      </tr>
      <tr>
        <td>
            <select id="city_id" name="city_id">
                <option value="0" <?php echo (0 == $this->post['city_id'])?'selected':'' ?>>Nơi làm việc</option>
                <option value="503" <?php echo (503 == $this->post['city_id'])?'selected':'' ?>>Tp Hồ Chí Minh</option>
                <option value="467" <?php echo (467 == $this->post['city_id'])?'selected':'' ?>>Hà Nội</option>
                <option value="492" <?php echo (492 == $this->post['city_id'])?'selected':'' ?>>Ðà Nẵng</option>
            </select>
      </td>
    </tr>

  </tbody></table>

  <div class="regBtnCont" style="text-align:center">
    <input id="reg_btn_search" class="reg_btn" type="submit" value="Tìm kiếm" title="SEARCH">
  </div>
  <!--end regBtnCont -->
</form>
</div>
<!--end hrRegForm -->
</div><!-- End block recruitment_box_right --></div>
                <!--end hrSearch -->

<script id="tmpl-job-search" type="text/x-jquery-tmpl">
<h4>VỊ TRÍ ĐANG TUYỂN</h4>
<div  class="NoViewPage">
    {{each data}}
     <div class="hrzLine"></div>
        <div class="jobBlock">
            <table border="0" width="100%">
              <tbody><tr>
                <td class="jobCode">${code}
                    <a class="newJob" href="#">
                        <img src="//img.zing.vn/vng/skin/vng-2014/image/hr_work/newIcon.png" width="35" height="15">
                    </a>
                </td>
              </tr>
              <tr>
                <td class="jobTitle">
                    <a href="javascript:void(0)" class="job_category_item" data-category="${vhr_job_id[0]}" data-id="${id}">
                        <strong> <span class="NameCate">${name_en}<span> </span></span></strong>  <br>${name}, ${city_id[1]}
                    </a>
                </td>
              </tr>
              <tr>
                <td><a data-fancybox-type="iframe" class="hrApply various" href="//www.vng.com.vn/nop-cv-online/software-engineer.667.html#list" style="display: none;">&gt; NỘP ĐƠN</a><div class="clearFloat"></div>
                </td>
              </tr>
            </tbody></table>
        </div>
    {{/each}}
  </div>
</div>
</script>